@import '~@eventespresso/styles/src/mixins/base-styles';

.ee-inline-edit {

	&__edit-icon.ee-svg,
	&__edit-icon.ee-svg:hover {
		color: var(--ee-default-text-color-super-low-contrast);
	}

	&__preview {
		svg.ee-svg {
			background-color: transparent;
			color: var(--ee-default-text-color-super-low-contrast);
			height: auto;
			margin: auto var(--ee-margin-micro);
			position: relative;
			right: -0.5rem;
			width: 1rem;
			z-index: 0;

			[dir='rtl'] & {
				right: 0.5rem;
			}
		}
	}

	&__input {
		@include ee-input-base;
	}
}

.ee-infinity-sign {
	&__inner {
		font-size: calc(var(--ee-font-size-default) * 1.75);
		font-weight: 500;
		position: relative;

		.ee-entity-list__card-view & {
			top: -2px;
		}

		.ee-rspnsv-table & {
			font-size: var(--ee-font-size-bigger);
			font-weight: 300;
			padding-bottom: 0;
			padding-top: 0;
		}
	}

	&:hover {
		svg.ee-svg {
			fill: var(--ee-color-primary);
			path {
				fill: currentColor;
			}
		}
	}

	&:focus {
		outline: none;
	}
}
