@import '~@eventespresso/styles/src/mixins/breakpoints';
@import '~@eventespresso/styles/src/variables';

.rrule-generator {
	label {
		flex: 0 1 20%;
		font-size: var(--ee-font-size-default);
		font-family: var(--ee-admin-font-family);
		padding-right: 1rem;
		text-align: right;
	}

	&__form-group {
		&-row {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}

			&--align-items-start {
				align-items: flex-start;
			}

			&--no-label {
				flex-direction: column;
			}
		}
	}

	&__frequency {
		flex: 0 1 80%;
	}

	&__on,
	&__on-the {
		align-items: center;
		display: flex;
		margin-top: 1rem;
		width: 100%;

		span {
			font-size: var(--ee-font-size-default);
			font-family: var(--ee-admin-font-family);
			padding-left: $spacing-tiny;
			padding-right: $spacing-tiny;
			white-space: nowrap;
		}

		.ee-select-wrapper {
			width: auto;

			select {
				width: auto;
			}
		}

		.ee-radio__wrapper {
			+ span {
				padding-left: 0;
			}
		}
	}

	&__labelled-input {
		@at-root label#{&} {
			align-items: center;
			display: flex !important;
			flex: initial;
			margin: 0 !important;
			padding: 0;
			max-width: none;

			.ee-number-input {
				margin-right: var(--ee-margin-smaller);
			}

			span {
				color: var(--ee-color-primary-high-contrast);
				font-size: var(--ee-font-size-default);

				+ input {
					margin-left: 0.5rem;
					margin-right: 0.5rem !important;
				}
			}
		}
	}

	&__form-control {
		.rrule-generator & {
			color: var(--ee-default-text-color-high-contrast);
			margin-right: 1rem;
			min-width: 140px;
			width: 100%;

			&:hover {
				color: var(--ee-default-text-color-high-contrast);
			}
		}

		@at-root select#{&} {
			height: 2rem;

			&--medium-width {
				min-width: 6rem !important;
			}
		}

		&.rrule-generator {
			&__day {
				width: 50px;
			}

			&__month {
				min-width: 60px;
				width: 140px;
			}
		}
	}

	&__repeat {
		&-daily,
		&-monthly,
		&-weekly {
			margin-top: 1rem;
		}
	}
}
