@import '~@eventespresso/styles/src/mixins/breakpoints';
@import '~@eventespresso/styles/src/variables';

.rrule-generator {
	.ee-input-label,
	.ee-weekly-label {
		flex: 0 1 20%;
		font-size: var(--ee-font-size-default);
		font-family: var(--ee-admin-font-family);
		line-height: var(--ee-icon-button-size); // 42px
		text-align: right;
		align-self: baseline;

		&.col-form-label {
			font-weight: bold;
		}
	}

	&__form-group {
		&-row {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			margin-block-end: var(--ee-margin-small);
			width: 100%;

			&:last-child {
				margin-block-end: 0;
			}
		}
	}

	&__frequency {
		flex: 0 1 80%;

		> {
			* {
				margin-block-end: var(--ee-margin-small);
			}

			.ee-container > {
				margin-block-end: 0;

				* {
					margin-block-end: var(--ee-margin-small);
				}

				:last-child {
					margin-block-end: 0;
				}
			}

			:last-child {
				margin-block-end: 0;
			}
		}
	}

	&__on,
	&__on-the {
		align-items: center;
		display: flex;
		width: 100%;
		flex-direction: row;

		span {
			font-size: var(--ee-font-size-default);
			font-family: var(--ee-admin-font-family);
			margin-inline-end: var(--ee-margin-micro);
			margin: 0;
			white-space: nowrap;
			padding: 0 var(--ee-padding-tiny);
		}

		.ee-select-wrapper {
			.rrule-generator__month {
				min-width: 115px;
			}
		}

		.ee-radio__wrapper {
			margin: 0;

			label {
				text-align: left;
				min-width: 95px;
			}
		}
	}

	&__form-control {
		.rrule-generator & {
			color: var(--ee-default-text-color-high-contrast);
			margin-inline-end: var(--ee-margin-small);
			min-width: 140px;
			width: 100%;

			&:hover {
				color: var(--ee-default-text-color-high-contrast);
			}
		}
	}

	.react-datepicker__input-container,
	&__frequency > .ee-select-wrapper,
	&__select-end.ee-select {
		width: 210px;
	}

	.rrule-text {
		margin-block-end: var(--ee-margin-small);
	}

	.ee-input-label {
		padding: 0 var(--ee-padding-tiny) 0 0;
	}

	.ee-number-input {
		margin-inline-end: var(--ee-margin-tiny);
	}
}
