@import '~@eventespresso/styles/src';

.rrule-generator {
	label {
		flex: 0 1 20%;
		font-size: var(--ee-font-size-default);
		font-family: var(--ee-admin-font-family);
		padding-left: 1rem;
		padding-right: 1rem;
		text-align: right;
	}

	&__form-group {
		&-row {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}

			&--align-items-start {
				align-items: flex-start;
			}

			&--no-label {
				flex-direction: column;
			}
		}
	}

	&__frequency {
		flex: 0 1 80%;
	}

	&__on,
	&__on-the {
		align-items: center;
		display: flex;
		margin-top: 1rem;
		width: 100%;

		.rrule-generator__form-control {
			margin-left: 0.5rem;
		}

		select {
			&.rrule-generator__form-control {
				margin-right: 0;
			}
		}

		span {
			padding-left: 0.5rem;
			white-space: nowrap;
		}
	}

	&__labelled-input {
		@at-root label#{&} {
			align-items: center;
			display: flex !important;
			flex: initial;
			margin: 0 !important;
			padding: 0;
			max-width: none;

			.ee-number-input {
				margin-right: var(--ee-margin-smaller);
			}

			span {
				color: var(--ee-color-primary-high-contrast);
				font-size: var(--ee-font-size-default);

				+ input {
					margin-left: 0.5rem;
					margin-right: 0.5rem !important;
				}
			}
		}
	}

	input[type='number'],
	input[type='text'],
	select {
		border-color: var(--ee-border-color);
		border-radius: var(--ee-border-radius-small);
		border-style: solid;
		border-width: var(--ee-border-width);
		box-shadow: none;
		color: var(--ee-default-text-color);
		font-size: var(--ee-font-size-default);
		line-height: inherit;
		min-height: var(--ee-icon-button-size);
		outline: none;
		padding: var(--ee-padding-micro) var(--ee-padding-tiny);
		@include transition(all ease 50ms);
	}

	&__form-control {
		.rrule-generator & {
			color: var(--ee-default-text-color-high-contrast);
			margin-right: 1rem;
			min-width: 140px;
			width: 100%;

			&:hover {
				color: var(--ee-default-text-color-high-contrast);
			}
		}

		@at-root select#{&} {
			height: 2rem;

			&--medium-width {
				min-width: 6rem !important;
			}
		}

		&.rrule-generator {
			&__day {
				width: 50px;
			}

			&__month {
				min-width: 60px;
				width: 140px;
			}

			&__input {
				border-radius: 4px;
				border: 1px solid #c1c1c1;
				min-width: unset;
				padding: 6px 8px;
				text-align: center;
				width: 40px;

				&[name='end.after'] {
					width: 50px;
				}
			}
		}
	}

	&__repeat {
		&-daily,
		&-monthly,
		&-weekly {
			margin-top: 1rem;
		}
	}
}
