.rrule-generator {
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;

	&__form-group {
		&-row {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 1rem;

			&--align-items-start {
				align-items: flex-start;
			}

			&--no-label {
				flex-direction: column;
			}

			label {
				flex: 0 0 15%;
				max-width: 15%;
				padding-left: 1rem;
				padding-right: 1rem;
				text-align: right;
			}
		}
	}

	&__on,
	&__on-the {
		align-items: center;
		display: flex;
		margin-top: 1rem;
		width: 100%;

		.rrule-generator__form-control {
			margin-left: 0.5rem;
		}

		select {
			&.rrule-generator__form-control {
				margin-right: 0;
			}
		}

		span {
			padding-left: 0.5rem;
			white-space: nowrap;
		}
	}

	&__labelled-input {
		@at-root label#{&} {
			align-items: center;
			display: flex !important;
			flex: initial;
			margin: 0 !important;
			padding: 0;
			max-width: none;

			span + input {
				margin-left: 0.5rem;
				margin-right: 0.5rem !important;
			}
		}
	}

	&__form-control {
		.rrule-generator & {
			margin-right: 1rem;
			min-width: 40px;
			width: 100%;
		}

		@at-root select#{&} {
			height: 2rem;
		}

		&.rrule-generator {
			&__select {
				width: auto;
			}

			&__day {
				width: 50px;
			}

			&__month {
				min-width: 60px;
				width: 60px;
			}

			&__input {
				border-radius: 4px;
				border: 1px solid #7e8993;
				min-width: unset;
				padding: 6px 8px;
				text-align: center;
				width: 35px;
			}
		}
	}

	&__repeat {
		&-daily,
		&-monthly,
		&-weekly {
			margin-top: 1rem;
		}
	}
}
