@import '~@eventespresso/styles/src/mixins/breakpoints';
@import '~@eventespresso/styles/src/mixins/base-styles';

.ee-select-wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100% !important;

	.ee-select.ee-select {
		@include ee-base-inputs-styles;
		@at-root {
			select#{&} {
				@include ee-base-inputs-styles;

				&:focus {
					@include ee-input-base-focus;
				}

				&:hover {
					@include ee-input-base-hover;
				}
			}
		}

		@include ee-input-base-focus;

		@include ee-input-base-hover;

		@include ee-input-disabled-hover;

		appearance: none;
		max-width: none; // .wp-core-ui select override
		line-height: 1.5;
		padding: var(--ee-padding-micro) var(--ee-padding-bigger) var(--ee-padding-micro) var(--ee-padding-smaller);

		[dir='rtl'] & {
			margin-left: 0;
			margin-right: 0;
			padding: var(--ee-padding-micro) var(--ee-padding-smaller) var(--ee-padding-micro) var(--ee-padding-bigger);
		}

		&--inline {
			border-color: transparent;

			option {
				color: var(--ee-default-text-color);
			}
		}

		option {
			font-size: var(--ee-font-size-default);
		}
	}

	&--inline {
		display: inline-flex;
	}

	.chakra-select__icon-wrapper {
		[dir='rtl'] & {
			left: 5px;
			right: auto;
		}
	}

	> div {
		svg,
		svg.ee-svg.ee-svg {
			color: var(--ee-border-color);
			height: 1.25rem !important;
			width: 1.25rem !important;
		}
	}

	&--inline {
		> div {
			svg,
			svg.ee-svg.ee-svg {
				color: currentColor;
				fill: currentColor;
			}
		}
	}
}
