@import '~@eventespresso/styles/src';

.ee-number-input.ee-number-input {
	input {
		z-index: 0;

		@include ee-base-inputs-styles;

		[dir='rtl'] & {
			padding-right: var(--ee-padding-big);
		}

		&:focus {
			z-index: 0;
		}
	}

	&--visible-digits {
		input {
			text-align: center;
		}

		&-3 {
			width: 48px;
		}
	}

	.ee-number-field-stepper {
		z-index: 0;
	}
}
