@import '~@eventespresso/styles/src/mixins/breakpoints';
@import '~@eventespresso/styles/src/mixins/base-styles';

.ee-number-input.ee-number-input {
	min-width: 3.75rem;
	width: 60%;

	input {
		z-index: 0;

		@include ee-base-inputs-styles;

		[dir='rtl'] & {
			padding-right: var(--ee-padding-big);
		}

		&:focus {
			z-index: 0;
		}
	}

	&--visible-digits {
		input {
			text-align: center;
		}

		&-2 {
			width: 3.75rem;
		}
		&-3 {
			width: 4.25rem;
		}
		&-4 {
			width: 4.75rem;
		}
		&-5 {
			width: 5.25rem;
		}
		&-6 {
			width: 5.75rem;
		}
	}

	.ee-number-field-stepper {
		z-index: 0;

		> div {
			border-color: var(--ee-border-color);
			border-inline-start-width: var(--ee-border-width);

			+ div {
				border-top-width: var(--ee-border-width);
			}
		}
	}
}
