@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

.ee-rem-modal {
	max-width: 75rem !important;

	&__body {
		&--centered {
			align-items: center;
			display: flex;
			justify-content: center;
		}

		.ee-rem-form-step-pattern-editor {
			.ee-form-step__icon svg {
				height: 1.9rem;
				width: 1.9rem;
				margin: 0;
			}
		}
	}
}
