@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

.ee-rem-modal {
	max-width: 75rem !important;

	&__body {
		&--centered {
			align-items: center;
			display: flex;
			justify-content: center;
		}
	}
}
