@import '~@eventespresso/styles/src';

.ee-event-registration-options {
	background-color: rgb(241, 241, 241);

	padding-bottom: 40px;

	.ee-grid {
		&.ee-grid {
			grid-gap: 1rem;
			grid-template-columns: repeat(12, minmax(0, 1fr)) !important;
			margin: var(--ee-padding-tiny) 0;
		}

		> div {
			box-sizing: border-box;
			flex-direction: column-reverse;
			height: unset;
			padding: 0.75rem 1rem 0.5rem;
			padding: var(--ee-padding-default);
			text-align: unset;
			/*border-radius: var(--ee-border-radius-big);*/
			border-radius: var(--ee-border-radius-default);

			label {
				margin: var(--ee-margin-small) 0;
			}

			h4 {
				font-size: var(--ee-font-size-big);
				font-weight: 600;
			}

			&:not([class*='status']) {
				h6 {
					color: var(--ee-default-text-color-high-contrast);
				}
			}

			h6,
			.ee-tabbable-text.ee-tabbable-text--no-text {
				font-size: var(--ee-font-size-small);
				letter-spacing: 1px;
			}

			h6 {
				color: var(--ee-default-text-color-high-contrast);
				font-weight: 600;
				margin: 0;
				max-width: unset;
			}

			.ee-tabbable-text {
				&.ee-tabbable-text--no-text {
					font-size: var(--ee-font-size-small);
				}

				&__inner_wrapper {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					max-width: 15rem;
				}

				&:not(.ee-tabbable-text--no-text) {
					.ee-tabbable-text__inner_wrapper {
						color: var(--ee-default-text-color-super-low-contrast);
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						max-width: 15rem;
						font-size: var(--ee-font-size-bigger) !important;
						padding: 0 !important;
						margin: unset !important;
						height: var(--ee-font-size-huge) !important;
						line-height: var(--ee-font-size-huge) !important;
						font-weight: 700;
					}
				}
			}

			.ee-select__inline-wrapper {
				margin: var(--ee-margin-tiny) 0 var(--ee-margin-tiny);
			}

			.ee-inline-edit-select {
				.ee-tabbable-text {
					background-color: var(--ee-color-primary);
					border-radius: var(--ee-border-radius-default);
					color: var(--ee-text-on-primary);
					min-height: auto;
					padding: var(--ee-padding-tiny) var(--ee-padding-smaller);

					svg {
						g {
							stroke: var(--ee-text-on-primary);
						}
					}
				}
			}
		}
	}

	&__status {
		// .ee-status-heading {
		// 	color: var(--ee-default-text-color-super-low-contrast);
		// 	font-size: var(--ee-font-size-huge) !important;
		// 	font-weight: 700;
		// 	padding: 0 !important;
		// 	margin: unset !important;
		// 	height: calc(var(--ee-font-size-huge) + var(--ee-font-size-micro)) !important;
		// 	line-height: 1 !important;
		// }

		h6.ee-heading {
			color: var(--ee-color-white) !important;
			font-size: var(--ee-font-size-big) !important;
			font-weight: 700;
			padding: 0 !important;
			margin: unset !important;
			height: calc(var(--ee-font-size-huge) + var(--ee-font-size-micro)) !important;
			line-height: 1 !important;
		}

		.ee-select {
			background-color: transparent !important;
			color: var(--ee-color-white) !important;
		}
	}

	&__alt-reg {
		h4 {
			font-size: var(--ee-font-size-default);
			font-weight: 500;
			line-height: var(--ee-font-size-bigger);
		}
	}
}
