@import '~@eventespresso/styles/src';

.ee-event-registration-options {
	.ee-grid {
		> div {
			box-sizing: border-box;
			flex-direction: column-reverse;
			height: calc(var(--ee-font-size-extreme) * 2);
			padding: var(--ee-padding-smaller) var(--ee-padding-small) var(--ee-padding-tiny);
			text-align: center;

			label {
				margin: var(--ee-margin-smaller) 0;
			}

			h4 {
				font-size: var(--ee-font-size-big);
				font-weight: 600;
			}

			h6 {
				color: var(--ee-default-text-color-high-contrast);
				font-size: var(--ee-font-size-small);
				font-weight: 600;
				margin: 0;
				max-width: 15rem;
			}

			.ee-tabbable-text {
				// font-size: var(--ee-font-size-small);
				// todo: make the above only apply when input has no value (ie: says "click to edit")

				&__inner_wrapper {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					max-width: 15rem;
				}
			}

			.ee-inline-edit-select {
				.ee-tabbable-text {
					background-color: var(--ee-color-primary);
					border-radius: var(--ee-border-radius-default);
					color: var(--ee-text-on-primary);
					min-height: auto;
					padding: var(--ee-padding-tiny) var(--ee-padding-smaller);

					svg {
						g {
							stroke: var(--ee-text-on-primary);
						}
					}
				}
			}
		}
	}

	&__active-status {
		h4 {
			color: var(--ee-default-text-color-high-contrast);
			font-size: var(--ee-font-size-smaller);
			font-weight: 400;
			height: 1.8rem;
			letter-spacing: 0.0625rem;
			margin: auto 0 0;
		}
	}

	&__alt-reg {
		h4 {
			font-size: var(--ee-font-size-default);
			font-weight: 500;
			line-height: var(--ee-font-size-bigger);
		}
	}
}
