@import '~@eventespresso/styles/src';

.ee-grid.ee-grid {
	display: grid;
	grid-gap: 0.1rem;
	grid-template-columns: 1fr;
	margin: 0 0 var(--ee-margin-bigger);

	> div {
		align-items: center;
		background: var(--ee-background-color);
		color: var(--ee-default-text-color);
		display: flex;
		justify-content: space-around;
		padding: var(--ee-padding-small);
	}

	/*  The following rules assume usage within the WP Admin */

	/* to counteract Chakra */
	@include min400px {
		grid-template-columns: 1fr;
	}

	/* two columns min width 240px */
	@include min600px {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	/* to counteract Chakra */
	@include min700px {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	/* because WordPress admin is too cramped here*/
	@include min850px {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	/* again because WordPress admin */
	@include min1080px {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	/* bigger screens */
	@include min1366px {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	/* really bigger screens */
	@include min1766px {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}
