@import '~@eventespresso/styles/src';

.ee-grid {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(12, minmax(0, 1fr)) !important;
	margin: var(--ee-margin-tiny) 0;

	> div {
		align-items: flex-start;
		background: #fff;
		background: var(--ee-background-color);
		box-shadow: var(--ee-box-shadow-tiny-diffuse);
		color: var(--ee-default-text-color);
		display: flex;
		height: unset;
		justify-content: space-around;
		padding: var(--ee-padding-small);
		grid-column-start: span 12;
	}

	.ee-grid__item.ee-grid__item {
		@include min360px {
			grid-column-start: span 12;
		}
		@include min667px {
			grid-column-start: span 6;
		}
		@include min960px {
			grid-column-start: span 6;
		}
		@include min1280px {
			grid-column-start: span 4;
		}
		@include min1766px {
			grid-column-start: span 3;
		}

		&--size {
			&-small {
				> div {
					display: grid;
					margin-bottom: var(--ee-margin-tiny);
				}

				@include min360px {
					grid-column-start: span 6;
				}
				@include min667px {
					grid-column-start: span 4;
				}
				@include min960px {
					grid-column-start: span 4;
				}
				@include min1280px {
					grid-column-start: span 3;
				}
				@include min1600px {
					grid-column-start: span 2;
				}
			}

			&-big {
				@include min360px {
					grid-column-start: span 12;
				}
				@include min667px {
					grid-column-start: span 6;
				}
				@include min960px {
					grid-column-start: span 8;
				}
				@include min1280px {
					grid-column-start: span 6;
				}
				@include min1600px {
					grid-column-start: span 4;
				}
				@include min1766px {
					grid-column-start: span 3;
				}
			}

			&-huge {
				@include min360px {
					grid-column-start: span 12;
				}
				@include min667px {
					grid-column-start: span 12;
				}
				@include min960px {
					grid-column-start: span 12;
				}
				@include min1280px {
					grid-column-start: span 10;
				}
				@include min1600px {
					grid-column-start: span 10;
				}
				@include min1766px {
					grid-column-start: span 8;
				}
				@include min1920px {
					grid-column-start: span 6;
				}
			}
		}
	}
}
