@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

$addon-bg-color: var(--ee-color-grey-14);

.ee-input-with-label {
	&__left-addon,
	&__right-addon {
		.ee-input-with-label & {
			background-color: $addon-bg-color;
			border-width: var(--ee-border-width);
			border-color: var(--ee-border-color);
			border-radius: var(--ee-border-radius-small);
			height: var(--ee-icon-button-size);
			margin: 0;
			padding: 0;
		}
	}

	.ee-input.ee-input,
	.ee-text-input.ee-text-input {
		border-color: var(--ee-border-color) !important;
		border-width: var(--ee-border-width);
	}

	&--disabled {
		background: var(--ee-color-grey-14);
		border-color: var(--ee-color-grey-9);
		color: var(--ee-default-text-color-low-contrast);
		opacity: 0.8;

		.ee-input-with-label__left-addon,
		.ee-input-with-label__right-addon {
			border-color: var(--ee-color-grey-9);
		}

		.ee-input,
		.ee-text-input {
			border-color: var(--ee-color-grey-9);
		}
	}

	&__left-addon {
		.ee-input-with-label__left-label & {
			border-bottom-right-radius: 0;
			border-right: none;
			border-top-right-radius: 0;

			[dir='rtl'] & {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: var(--ee-border-radius-small);
				border-left: none;
				border-right: var(--ee-border-width) solid var(--ee-border-color);
				border-top-left-radius: 0;
				border-top-right-radius: var(--ee-border-radius-small);
			}
		}
	}

	&.ee-input-with-label__left-label {
		.ee-input,
		.ee-text-input {
			border-bottom-left-radius: 0 !important;
			border-top-left-radius: 0 !important;

			[dir='rtl'] & {
				border-bottom-left-radius: var(--ee-border-radius-small) !important;
				border-top-left-radius: var(--ee-border-radius-small) !important;

				border-bottom-right-radius: 0 !important;
				border-top-right-radius: 0 !important;
			}
		}
	}

	&__right-addon {
		.ee-input-with-label__right-label & {
			border-bottom-left-radius: 0;
			border-left: none;
			border-top-left-radius: 0;
		}
	}

	&.ee-input-with-label__right-label {
		.ee-input,
		.ee-text-input {
			border-bottom-right-radius: 0 !important;
			border-top-right-radius: 0 !important;
		}
	}
}
