@import '~@eventespresso/styles/src/mixins/breakpoints';
@import '~@eventespresso/styles/src/mixins/transition';

.ee-droppable {
	border: var(--ee-border-width-thick) solid transparent;
	border-radius: var(--ee-border-radius-small);
	max-width: 100%;

	@include min767px {
		padding: var(--ee-padding-tiny);
	}

	li.ee-draggable {
		align-items: center;
		display: flex;

		list-style: none;

		.ee-svg {
			opacity: 0;
			@include transition(opacity linear 100ms);
		}

		&:hover {
			border: var(--ee-border-width-thick) solid #99cfdb !important;

			.ee-svg {
				opacity: 1;
			}
		}
	}

	&--is-dragging-over {
		background-color: #e9f6e5 !important;
		border: var(--ee-border-width-thick) solid #addb9f !important;
	}
}

.ee-draggable {
	border: var(--ee-border-width-thick) solid transparent;
	border-radius: var(--ee-border-radius-small);

	&--is-dragging {
		background-color: #deeff3 !important;
		border: var(--ee-border-width-thick) solid #99cfdb !important;
		box-shadow: var(--ee-box-shadow-small);

		.ee-svg.ee-svg {
			opacity: 1;
		}
	}
}
