.ee-color-swatches {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__swatch {
		margin: var(--ee-margin-micro) !important;
		padding: 0px !important;
		height: var(--ee-font-size-bigger) !important;
		width: var(--ee-font-size-bigger) !important;
	}
}
