@import '~@eventespresso/styles/src/mixins/breakpoints';

.ee-form {
	.ee-render-fields {
		&--inline {
			@include min600px {
				display: flex;
			}

			.ee-form-item {
				width: 100%;

				@include min600px {
					margin-right: 3%;
					width: 47%;
				}

				@include min850px {
					width: 22%;
				}

				> div {
					display: flex;
				}
			}
		}
	}
}
