.ee-tabbable-text {
	align-items: center;
	border-color: var(--ee-background-color); // essentially no border by default
	border-radius: var(--ee-border-radius-small);
	border-width: var(--ee-border-width);
	display: inline-flex;
	justify-content: center;
	outline: none !important;
	padding: var(--ee-padding-micro) var(--ee-padding-tiny) var(--ee-padding-micro) var(--ee-padding-micro);
	min-height: var(--ee-icon-button-size);
	min-width: var(--ee-icon-button-size);

	&:not(.is-disabled) {
		cursor: pointer;
		&:hover {
			border-color: var(--ee-color-primary-low-contrast);
			color: var(--ee-color-primary-high-contrast);

			svg.ee-svg {
				border-color: none;
				color: var(--ee-default-text-color-super-low-contrast);
			}
		}

		&:active,
		&:focus {
			border-width: var(--ee-border-width);
			border-color: var(--ee-color-primary);
		}
	}
}
