.ee-rte-with-edit-mode {
	padding: var(--ee-padding-smaller);
	border-radius: var(--ee-border-radius-default);
	box-shadow: var(--ee-box-shadow-tiny-diffuse);
	background: var(--ee-background-color);
	border-color: var(--ee-border-color);
	margin-top: var(--ee-margin-tiny);

	.ee-tabs {
		&__tab-list {
			border-color: var(--ee-border-color);
		}
	}

	.ee-rich-text-editor {
		&__root {
			box-shadow: none;
		}
	}

	.ee-html-editor {
		min-height: 15rem;
		border: none;
		resize: none;
	}
}
