.ee-currency-input {
	align-self: center;
	color: var(--ee-default-text-color-low-contrast);
	display: flex;
	font-size: var(--ee-font-size-big);
	font-weight: 900;
	justify-content: center;
	letter-spacing: 2px;
	padding: var(--ee-padding-micro);

	&__before-amount {
		align-self: center;
	}

	[dir='rtl'] & {
		writing-mode: vertical-rl;
	}

	&--vertical {
		transform: rotate(180deg);
		writing-mode: vertical-lr;
	}
}
