@import '~@eventespresso/styles/src/mixins/breakpoints';

.ee-entity-option {
	&__wrapper {
		align-items: flex-start;
		display: flex;
		flex-flow: column nowrap;
		margin: 0 auto;
		max-width: 900px;

		[dir='rtl'] & {
			align-items: flex-end;
		}
	}

	&__options {
		align-items: center;
		display: flex;
		flex-flow: column nowrap;
		width: 100%;

		@include min667px {
			align-items: start;
			flex-flow: row nowrap;
		}
	}

	&__option {
		align-items: flex-start;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		width: 100%;

		[dir='rtl'] & {
			align-items: flex-end;
			justify-content: flex-end;
		}

		@include min360px {
			align-items: center;
		}

		@include min782px {
			flex: 0 1 45%;
		}

		label {
			padding-bottom: var(--ee-padding-smaller);
			width: 100%;

			+ .ee-btn {
				@include min667px {
					margin-top: 0;
				}
			}

			@include min360px {
				text-align: center;
			}

			@include min667px {
				padding: var(--ee-padding-smaller);
			}
		}
	}

	&__separator {
		color: var(--ee-default-text-color-super-low-contrast);
		flex: 0 1 10%;
		font-size: var(--ee-font-size-big);
		font-weight: 700;
		padding: var(--ee-padding-small) 0;
		text-align: center;

		@include min667px {
			padding: var(--ee-padding-default);
		}
	}

	&__input {
		align-items: center;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		width: 100%;

		.ee-btn {
			@include min782px {
				margin-top: 0;
			}
		}

		@include min782px {
			align-items: flex-start;
			flex-flow: row nowrap;
		}

		[dir='rtl'] & {
			justify-content: flex-end;
		}
	}
}
