.ee-error-message.ee-error-message {
	align-items: center;
	background-color: var(--ee-color-accent);
	border-radius: var(--ee-border-radius-small);
	color: var(--ee-text-on-accent);
	display: inline-flex;
	margin: var(--ee-margin-tiny) 0;
	padding: var(--ee-padding-micro) var(--ee-padding-tiny);

	p,
	svg {
		color: var(--ee-color-white);
	}

	svg.ee-svg.ee-svg {
		margin-right: var(--ee-margin-smaller);
	}

	p {
		color: inherit;
		letter-spacing: 2px;
	}

	&--variant {
		&-subtle {
			background-color: var(--ee-background-color);
			color: var(--ee-color-accent-high-contrast);

			svg {
				color: var(--ee-color-accent-high-contrast);
			}
		}
	}
}
