@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

.ee-filter-tag {
	align-items: center;
	background: var(--ee-color-grey-15);
	border: 1px solid var(--ee-color-primary-low-contrast);
	border-radius: var(--ee-border-radius-full);
	box-sizing: border-box;
	color: var(--ee-color-primary-high-contrast);
	display: flex;
	flex-flow: row nowrap;
	font-size: var(--ee-font-size-small);
	height: var(--ee-icon-button-size-micro);
	margin: 0 var(--ee-margin-smaller) var(--ee-margin-tiny) 0;
	padding: var(--ee-padding-nano) var(--ee-padding-nano) var(--ee-padding-nano) var(--ee-padding-smaller);
	position: relative;

	[dir='rtl'] & {
		padding-right: var(--ee-padding-smaller);
	}

	&__close-btn {
		align-items: center;
		border: 1px solid transparent;
		border-radius: 50%;
		cursor: pointer;
		display: inline-flex;
		font-size: var(--ee-font-size-default);
		height: calc(var(--ee-icon-button-size-micro) - 6px);
		justify-content: center;
		margin-left: var(--ee-margin-micro);
		outline: none !important;
		width: calc(var(--ee-icon-button-size-micro) - 6px);

		[dir='rtl'] & {
			margin-left: 0;
			margin-right: var(--ee-margin-micro);
		}

		&:focus,
		&:hover {
			background: var(--ee-color-primary);
			color: var(--ee-text-on-primary);
		}

		& svg.ee-svg {
			margin: 0;
		}
	}
}
