@import '~@eventespresso/styles/src/mixins/base-styles';

.ee-text-input.ee-text-input {
	@include ee-input-base;
	@extend .ee-input;

	&.ee-text-input {
		&[aria-invalid='true'] {
			border-color: var(--ee-color-accent);
		}
	}
}
