.ee-upsell {
	img {
		max-height: 100%;
		object-fit: contain;
		vertical-align: top;
	}

	&--bg-color {
		* {
			color: var(--ee-color-white) !important;
		}

		.ee-btn {
			&:focus,
			&:hover {
				border-color: var(--ee-color-white) !important;
			}
		}

		img,
		svg {
			height: auto;
			max-width: 100px;
		}

		&-green {
			background-color: #02aec6;
		}

		&-blue {
			background-color: #81d8d0;
		}
	}

	&--template {
		&-base {
			display: flex;
			align-items: flex-start;

			> div {
				padding: 0 var(--ee-padding-small);

				> * {
					padding-bottom: var(--ee-padding-tiny);
				}
			}

			&__subTitle {
				font-size: var(--ee-font-size-smaller);
			}
		}

		&-with-bg-image {
			align-items: flex-end;
			display: flex;
			max-width: 400px;
			padding: var(--ee-padding-small);
			text-align: left;

			&__main-title {
				font-size: var(--ee-font-size-big) !important;
				margin-top: 0 !important;
				padding-bottom: var(--ee-padding-small);
			}

			&__img-wrapper {
				display: flex;

				.ee-upsell--orientation-vertical & {
					display: block;
				}
			}
		}

		&-with-options {
			max-width: 300px;
			text-align: center;
			padding: var(--ee-padding-small);

			&__img-wrapper {
				svg.ee-svg {
					max-width: 150px;
				}
			}

			&__options-wrapper {
				text-align: start;

				svg {
					max-width: 70px;
				}

				span {
					padding-left: var(--ee-padding-small);
				}
			}

			&__main-title {
				font-size: var(--ee-font-size-default) !important;
				margin-top: 0 !important;
				padding-bottom: var(--ee-padding-small);
			}
		}

		&-compact {
			flex-direction: row !important;

			.ee-heading {
				display: inline-flex !important;
				font-size: var(--ee-font-size-default) !important;
				margin: 0 !important;
			}

			.ee-upsell--template-compact__cta {
				display: inline-flex !important;
				padding: 0 var(--ee-padding-tiny);
				white-space: nowrap;

				.ee-link {
					height: auto;
					min-height: auto;
					width: auto;
				}
			}
		}
	}

	&--image-position {
		&-right {
			flex-direction: row-reverse;
		}

		&-bottom {
			flex-direction: column;
		}

		&-top {
			display: block;
		}
	}

	&--orientation {
		&-vertical {
			flex-direction: column;
			max-width: 300px;
			text-align: center;
		}
	}
}
