@import '~@eventespresso/styles/src/mixins/breakpoints';

.ee-form-builder {
	&__wrapper {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		margin: var(--ee-margin-small) 0;
		width: 100%;
	}

	&__form {
		background: var(--ee-background-color);
		border-radius: var(--ee-border-radius-default);
		box-shadow: var(--ee-box-shadow-tiny-diffuse);
		box-sizing: border-box;
		color: var(--ee-default-text-color);
		display: flex;
		flex-flow: column wrap;
		margin: 0 0 var(--ee-margin-small);
		padding: var(--ee-padding-small) var(--ee-padding-tiny);
		width: 100%;

		.ee-form {
			&-section {
				border: none;
				margin:  0 0 var(--ee-margin-default);
				padding: var(--ee-padding-micro) var(--ee-padding-tiny);
				position: relative;

				&__wrapper {
					display: flex;
					flex-flow: column wrap;

					@include min600px {
						flex-flow: row wrap;
					}
				}

				&__name {
					color: var(--ee-default-text-color-super-low-contrast);
					font-size: var(--ee-font-size-big);
					font-weight: 600;
					height: var(--ee-icon-button-size-small);
					line-height: var(--ee-icon-button-size-tiny);
					margin: var(--ee-margin-small) var(--ee-margin-tiny);
					min-height: var(--ee-icon-button-size-small);
					padding: 0;
					width: auto;
				}

				&__menu-button {
					margin: var(--ee-margin-small) var(--ee-margin-tiny);
				}

				&--active {
					background: var(--ee-color-grey-14);
				}

				& + fieldset {
					margin: var(--ee-margin-small) 0 0;
				}

				&-edit-btn.ee-btn {
					bottom: -1.5rem;
					position: absolute;
					right: 0;
				}

				&__toolbar {
					box-sizing: border-box;
					height: 0;
					opacity: 0;
					padding: var(--ee-padding-tiny) 0;
					transition: all 250ms ease-in-out;
					width: auto;

					&--active {
						height: auto;
						opacity: 1;
					}

					&-tools {
						align-content: center;
						align-items: flex-end;
						display: flex;
						flex-flow: column wrap;
						justify-content: flex-end;

						@include min600px {
							flex-flow: row wrap;
						}
					}

					&-item {
						align-items: center;
						display: flex;
						flex-flow: row wrap;
						margin: 0 var(--ee-margin-tiny);

						.ee-input__wrapper {
							align-items: center;
							flex-flow: row nowrap;
							padding: var(--ee-padding-tiny) var(--ee-padding-micro);

							label {
								padding-right: var(--ee-padding-micro);
							}
						}

						button {
							margin: var(--ee-margin-tiny) var(--ee-margin-micro);
						}
					}
				}
			}

			&-element {
				align-items: flex-end;
				display: flex;
				flex-flow: row wrap;
				height: fit-content;
				justify-content: flex-start;
				max-width: 100%;
				width: 100%;

				&__input {
					align-content: flex-start;
					display: flex;
					flex-flow: column wrap;
					height: unset;
					width: 100%;

					@include min600px {
  						width: calc(60% - var(--ee-icon-button-size-big));
					}

					input {
						display: block;
						width: 100%;
					}

					.ee-input-label__wrapper {
						padding: 0;
						width: 100%;
					}
				}

				&__menu {
					align-content: flex-end;
					align-items: center;
					box-sizing: border-box;
					display: flex;
					flex-flow: row wrap;
					height: 0;
					justify-content: flex-end;
					opacity: 0;
					padding: var(--ee-padding-tiny) 0 0 ;
					width: 100%;
					transition: all 250ms ease-in-out;

					@include min600px {
						padding: var(--ee-padding-micro);
  						width: 40%;
					}

					&--active {
						height: auto;
						opacity: 1;
					}

					&-button {
						margin: var(--ee-margin-micro);
					}
				}

				&__actions {
					align-content: center;
					align-items: center;
					display: flex;
					flex-flow: row wrap;
					justify-content: flex-end;
					width: 134px;

					button {
						margin: 0 .25rem;

						&.ee-drag-handle {
							cursor: move;
						}
					}
				}

				&__type {
					align-content: center;
					align-items: center;
					color: var(--ee-default-text-color-super-low-contrast);
					display: flex;
					justify-content: flex-end;
					padding: 0 var(--ee-padding-tiny);
				}

				&__wrapper {
					border-radius: 3px;
					color: var(--ee-default-text-color);
					display: flex;
					flex-flow: column wrap;
					margin: 0 0 var(--ee-margin-tiny);
					padding: var(--ee-padding-tiny);
					transition: all 250ms ease-in-out;

					&:hover {
						background: var(--ee-color-grey-14);
					}
					&--active {
						background: var(--ee-color-grey-14);
						.ee-form-element__actions,
						.ee-form-element__type {
							opacity: 1;
						}
					}
				}
			}

			&-settings__tabs {
				box-sizing: border-box;
				height: fit-content;
				margin: var(--ee-margin-small) 0 0;
				padding: 0 var(--ee-padding-tiny) var(--ee-padding-default);
				min-height: unset;
				width: 100%;

				.ee-tabs__tab {
					svg.ee-svg.ee-svg {
						// for the Pallette icon
						circle {
							fill: var(--ee-color-grey-12);
						}
						&.ee-tab-icon-settings {
							height: calc(var(--ee-icon-button-size-micro) + 6px);
							width: calc(var(--ee-icon-button-size-micro) + 6px);
							margin: -2px 0 0;
						}
						&.ee-tab-icon-validation {
							height: calc(var(--ee-icon-button-size-micro) - 3px);
							width: calc(var(--ee-icon-button-size-micro) - 3px);
						}
					}
				}
			}
		}
	}

	&__sidebar {
		display:none;
		background: var(--ee-background-color);
		border-radius: var(--ee-border-radius-default);
		box-shadow: var(--ee-box-shadow-tiny-diffuse);
		box-sizing: border-box;
		color: var(--ee-default-text-color);
		// display: flex;
		flex-flow: column wrap;
    	height: fit-content;
		margin:  0;
		padding: 0 var(--ee-padding-small) var(--ee-padding-small);
		width: 100%;

		@include min960px {
			width: 300px;
		}
		@include min1080px {
			width: 450px;
		}

		.form-element-blocks {
			display: grid;
			grid-gap: var(--ee-padding-smaller);
			grid-template-columns: repeat(2, 1fr);
			margin: var(--ee-margin-small) 0 0;
			width: 100%;

			@include min480px {
				grid-template-columns: repeat(3, 1fr);
			}
			@include min960px {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		.element-block {
			align-content: center;
			background: var(--ee-background-color);
			border-radius: var(--ee-border-radius-small);
			border: 1px solid #999;
			color: var(--ee-default-text-color-low-contrast);
			cursor: move;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			font-weight: 500;
			padding: var(--ee-padding-tiny);

			svg,
			svg path {
				fill: var(--ee-color-primary);
			}
		}
	}
}
