@import '~@eventespresso/styles/src/mixins/breakpoints';

.ee-form-builder {
	&__wrapper {
		display: flex;
		box-sizing: border-box;
		flex-flow: column nowrap;
		justify-content: space-between;
		margin: var(--ee-margin-small) 0;
		max-width: 100%;
		overflow: hidden;
		position: relative;
		width: 100%;
		z-index: 1;
	}

	&__form {
		background: var(--ee-background-color);
		border-radius: var(--ee-border-radius-default);
		box-shadow: var(--ee-box-shadow-tiny-diffuse);
		box-sizing: border-box;
		color: var(--ee-default-text-color);
		display: flex;
		flex-flow: column wrap;
		margin: 0 0 var(--ee-margin-small);
		overflow: hidden;
		padding: var(--ee-padding-small);
		width: 100%;

		.ee-form {
			&-section {
				border: none;
				border-radius: var(--ee-border-radius-small);
				box-sizing: border-box;
				display: flex;
  				flex-direction: column;
				margin:  0;
				padding: var(--ee-padding-tiny) 0;
				position: relative;
				width: 100%;

				&__header {
					align-content: center;
					align-items: center;
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					padding: 0 var(--ee-padding-tiny);
				}

				&__name {
					color: var(--ee-default-text-color-super-low-contrast);
					font-size: var(--ee-font-size-big);
					font-weight: 600;
					height: var(--ee-icon-button-size-small);
					line-height: var(--ee-icon-button-size-tiny);
					margin: var(--ee-margin-tiny);
					min-height: var(--ee-icon-button-size-small);
					padding: 0;
					width: auto;
				}

				&-edit-btn.ee-btn {
					bottom: var(--ee-padding-default);
					position: absolute;
					right: 0;
				}

				&__toolbar {
					align-content: center;
					align-items: flex-end;
					box-sizing: border-box;
					display: flex;
					flex-flow: column wrap;
					justify-content: flex-start;
					margin: 0;
					padding: 0 var(--ee-padding-smaller);
					transition: all 250ms ease-in-out;
					width: auto;

					@include min767px {
						flex-flow: row wrap;
					}

					.ee-input__wrapper {
						align-items: center;
						flex-flow: row nowrap;
						padding: var(--ee-padding-tiny) var(--ee-padding-micro);

						label {
							padding-right: var(--ee-padding-micro);
						}
					}

					.ee-form-section__toolbar-button {
						margin: var(--ee-margin-tiny) var(--ee-margin-micro);
						opacity: 0;

						&:focus {
							opacity: 1;
						}

						&.ee-drag-handle {
							cursor: move;
						}
					}

					.ee-popover {
						&__content[role=dialog] {
							position: relative;
							right: var(--ee-margin-default);
							top: calc(var(--ee-margin-huge) * -1);
							width: 20rem;

							[dir='rtl'] & {
								left: var(--ee-margin-default);
								right: unset;
							}
						}
					}
				}

				&--active {
					background: var(--ee-color-grey-14);
				}

				.ee-form-section__sidebar-toggle:focus,
				&:hover .ee-form-section__sidebar-toggle,
				&--active .ee-form-section__sidebar-toggle,
				&:hover .ee-form-section__toolbar .ee-form-section__toolbar-button,
				&--active .ee-form-section__toolbar .ee-form-section__toolbar-button {
					opacity: 1 !important;
				}

				&__sidebar {
					background: var(--ee-background-color);
					border-radius: var(--ee-border-radius-default);
					box-shadow: var(--ee-box-shadow-tiny);
					box-sizing: border-box;
					color: var(--ee-default-text-color);
					display: flex;
					flex-flow: column wrap;
					margin: var(--ee-margin-default)  var(--ee-margin-small) 0;
					max-width: 360px;
					min-width: 240px;
					padding:  var(--ee-padding-small) var(--ee-padding-default);
					position: absolute;
					right: -480px;
					transition: all 375ms ease-in-out;
					width: auto;
					z-index: 2;

					&--active {
						right: 0;
					}

					&-toggle {
						align-self: flex-end;
						opacity: 0;
					}

					&-item {
						align-items: flex-end;
						display: flex;
						flex-direction: column;
						margin: var(--ee-margin-small) 0;

						.ee-input__wrapper {
							padding: var(--ee-padding-tiny) 0;
						}

						.ee-input__wrapper,
						.ee-input__wrapper input,
						.ee-select-wrapper,
						.ee-select-wrapper select {
							width: 100%;
						}

						.ee-btn {
							margin: 0;
						}
					}
				}

				&__footer {
					display: flex;
					justify-content: flex-end;
					width: 100%;
				}
			}

			&-element {
				align-items: flex-end;
				display: flex;
				flex-flow: row wrap;
				height: fit-content;
				justify-content: space-between;
				max-width: 100%;
				width: 100%;

				&__input {
					align-content: flex-start;
					display: flex;
					flex-flow: column wrap;
					height: unset;
					width: 100%;

					@include min600px {
  						width: 60%;
					}

					input {
						display: block;
						width: 100%;
					}

					.ee-input-label__wrapper {
						padding: 0;
						width: 100%;
					}
				}

				&__toolbar {
					align-content: center;
					align-items: center;
					box-sizing: border-box;
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					padding: var(--ee-padding-small) var(--ee-padding-micro) 0;
					width: 100%;
					transition: all 250ms ease-in-out;

					@include min600px {
  						width: 40%;
					}

					.ee-form-element__toolbar-button {
						margin: var(--ee-margin-micro);
						opacity: 0;

						&:focus {
							opacity: 1;
						}

						&.ee-drag-handle {
							cursor: move;
						}
					}
				}

				&__type {
					align-content: center;
					align-items: center;
					color: var(--ee-default-text-color-super-low-contrast);
					display: flex;
					justify-content: flex-end;
					opacity: 0;
					padding: 0 var(--ee-padding-tiny);
				}

				&__wrapper {
					border-radius: 3px;
					box-sizing: border-box;
					color: var(--ee-default-text-color);
					display: flex;
					flex-flow: column wrap;
					margin: 0 0 var(--ee-margin-tiny);
					padding: var(--ee-padding-tiny);
					transition: all 250ms ease-in-out;
					width: 100%;

					&:hover,
					&--active {
						background: var(--ee-color-grey-14);

						.ee-form-element__type,
						.ee-form-element__toolbar .ee-form-element__toolbar-button {
							opacity: 1;
						}
					}
				}
			}

			&-settings__tabs {
				box-sizing: border-box;
				height: fit-content;
				margin: var(--ee-margin-small) 0 0;
				padding: 0 var(--ee-padding-tiny) var(--ee-padding-default);
				min-height: unset;
				width: 100%;

				.ee-tabs__tab {
					svg.ee-svg.ee-svg {
						// for the Pallette icon
						circle {
							fill: var(--ee-color-grey-12);
						}
						&.ee-tab-icon-settings {
							height: calc(var(--ee-icon-button-size-micro) + 6px);
							width: calc(var(--ee-icon-button-size-micro) + 6px);
							margin: -2px 0 0;
						}
						&.ee-tab-icon-validation {
							height: calc(var(--ee-icon-button-size-micro) - 3px);
							width: calc(var(--ee-icon-button-size-micro) - 3px);
						}
					}
				}
			}
		}
	}
}
