.ee-simple-entity-card {
	align-items: center;
	border: 1px solid #ccc;
	color: #000;
	display: flex;
	flex-wrap: wrap;
	margin: 0.5rem 1rem;
	max-width: 270px;
	min-height: 6rem;

	&__details {
		flex-flow: column;
		padding: 0.5rem 0.75rem;
		border-left: 1px dotted #ccc;
		width: 11rem;
		display: flex;
		justify-content: space-between;
		line-height: 1rem;
		font-size: 0.6rem;
	}

	&__name {
		font-size: 1rem;
		font-weight: 700;
		color: var(--ee-text-on-grey-15);
	}

	&__sidebar {
		margin: var(--ee-margin-tiny) var(--ee-margin-tiny) var(--ee-margin-tiny) 0;
		width: 2.625rem; // 42px
	}
}
