.date-range-picker {
	display: flex;
	align-items: center;
	&__separator {
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
}

.react-datepicker {
	&__input-container {
		input[type='number'],
		input[type='text'],
		select {
			border-color: var(--ee-border-color);
			border-radius: var(--ee-border-radius-small);
			border-style: solid;
			border-width: 3px;
			box-shadow: none;
			color: var(--ee-default-text-color);
			font-size: var(--ee-font-size-default);
			line-height: inherit;
			min-height: 2.625rem;
			outline: none;
			padding: var(--ee-padding-micro) var(--ee-padding-tiny);
			transition: all ease 50ms;
		}
	}

	&__input-time-container {
		float: none;
		margin: 0;
		padding: 0 var(--ee-padding-smaller) var(--ee-padding-smaller) var(--ee-padding-smaller);

		.react-datepicker-time {
			&__input-container {
				.react-datepicker-time {
					&__input input {
						width: 165px;
					}
				}
			}
		}
	}
}
