.date-range-picker {
	display: flex;
	align-items: center;
	&__label {
		color: var(--ee-default-text-color-low-contrast);
		display: block;
		font-weight: 600;
		margin: var(--ee-margin-small) 0 0;
	}
}

.react-datepicker {
	&__input-container {
		input[type='number'],
		input[type='text'],
		select {
			border-color: var(--ee-border-color);
			border-radius: var(--ee-border-radius-small);
			border-style: solid;
			border-width: var(--ee-border-width);
			box-sizing: border-box;
			box-shadow: none;
			color: var(--ee-default-text-color);
			font-size: var(--ee-font-size-default);
			line-height: inherit;
			min-height: var(--ee-icon-button-size);
			outline: none;
			padding: var(--ee-padding-micro) var(--ee-padding-tiny);
			transition: all ease 50ms;
			width: 100%;
		}
	}

	&__input-time-container {
		float: none;
		margin: 0;
		padding: 0 var(--ee-padding-smaller) var(--ee-padding-smaller) var(--ee-padding-smaller);

		.react-datepicker-time {
			&__input-container {
				.react-datepicker-time {
					&__input input {
						width: 165px;
					}
				}
			}
		}
	}
}
