/** -------------------------------------------------------------------------
 * Event Espresso withLabel Stylesheet
 * © 2018 Event Espresso
 * ------------------------------------------------------------------------- */

.ee-input-label {
	&__wrapper {
		align-items: flex-start;
		display: flex;
		flex-wrap: nowrap;
		padding: var(--ee-padding-tiny);

		&--font-weight-normal {
			label {
				font-weight: normal;
			}
		}

		&--no-padding {
			padding: 0;
		}

		&--bottom-left,
		&--bottom-center,
		&--bottom-right {
			flex-direction: column-reverse;
			label {
				margin: var(--ee-margin-nano) var(--ee-margin-nano) 0;
			}
		}

		&--left-top,
		&--left-middle,
		&--left-bottom {
			flex-direction: row;
			label {
				margin: 0 0 0 var(--ee-margin-nano);
			}
		}

		&--right-top,
		&--right-middle,
		&--right-bottom {
			flex-direction: row-reverse;
			label {
				margin: 0 var(--ee-margin-nano) 0 0;
			}
		}

		&--top-left,
		&--top-center,
		&--top-right {
			flex-direction: column;

			label,
			legend {
				margin: 0 var(--ee-margin-nano) var(--ee-margin-nano);
			}
		}

		&--top-center,
		&--bottom-center,
		&--left-middle,
		&--right-middle {
			align-items: center;
		}
	}
}

.ee-base-input + .ee-base-input {
	margin-bottom: var(--ee-margin-micro);
}
