@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

.ee-filter-tags {
	&__wrapper {
		align-items: center;
		display: flex;
		margin: 0 0 var(--ee-margin-default);

		@include max600px {
			align-items: flex-start;
			flex-direction: column;
		}
	}

	&__header {
		font-size: var(--ee-font-size-smaller);
		font-weight: 600;
		margin: 0 var(--ee-margin-small) var(--ee-margin-tiny) 0;

		@include max600px {
			align-items: flex-start;
			flex-direction: column;
			margin: 0 0 var(--ee-margin-tiny);
		}
	}
	&__body {
		display: flex;
		flex-flow: row wrap;
	}

	.ee-filter-tag {
		align-items: center;
		background: var(--ee-color-grey-15);
		border: 1px solid var(--ee-color-primary-low-contrast);
		border-radius: var(--ee-border-radius-full);
		box-sizing: border-box;
		color: var(--ee-color-primary-high-contrast);
		display: flex;
		flex-flow: row nowrap;
		font-size: var(--ee-font-size-smaller);
		height: var(--ee-icon-button-size-micro);
		margin: 0 var(--ee-margin-smaller) var(--ee-margin-tiny) 0;
		padding: var(--ee-padding-nano) var(--ee-padding-nano) var(--ee-padding-nano) var(--ee-padding-smaller);
		position: relative;

		&__close-btn {
			align-items: center;
			cursor: pointer;
			display: inline-flex;
			font-size: var(--ee-font-size-default);
			height: var(--ee-icon-button-size-micro);
			justify-content: center;
			margin-left: var(--ee-margin-micro);
			opacity: 0.5;
			outline: none !important;
			width: var(--ee-icon-button-size-micro);

			&:focus,
			&:hover {
				opacity: 1;
			}

			& svg.ee-svg {
				margin: 0;
			}
		}
	}
}
