.ee-filter-tags {
	&__wrapper {
		align-items: center;
		display: flex;
		margin: 0 0 var(--ee-margin-default);
	}
	&__header {
		font-weight: 600;
		margin-right: var(--ee-margin-small);
	}
	&__body {
		display: flex;
	}

	.ee-filter-tag {
		background: var(--ee-color-grey-15);
		border: 1px solid var(--ee-color-primary-low-contrast);
		border-radius: var(--ee-border-radius-small);
		color: var(--ee-color-primary-high-contrast);
		font-size: var(--ee-font-size-smaller);
		margin-right: var(--ee-margin-smaller);
		padding: var(--ee-padding-nano) var(--ee-padding-micro) var(--ee-padding-micro) var(--ee-padding-tiny);
		position: relative;

		&__close-btn {
			cursor: pointer;
			font-size: var(--ee-font-size-default);
			height: var(--ee-icon-button-size-micro);
			margin-left: var(--ee-margin-micro);
			opacity: 0.5;
			outline: none !important;
			width: var(--ee-icon-button-size-micro);

			&:hover {
				opacity: 1;
			}

			& svg.ee-svg {
				margin: 0;
			}
		}
	}
}
