/** -------------------------------------------------------------------------
 * Event Espresso Button Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

@import '~@eventespresso/styles/src/mixins/breakpoints';
@import '~@eventespresso/styles/src/mixins/transition';

.btn-focus {
	border-color: var(--ee-color-primary);
	box-shadow: var(--ee-button-box-shadow);
}

.btn-hover {
	border-color: var(--ee-color-primary-low-contrast);
	box-shadow: var(--ee-button-box-shadow);
	color: var(--ee-color-primary-high-contrast);
}

.ee-btn-base {
	&.ee-icon-button {
		align-items: center;
		background-color: var(--ee-button-background);
		border-color: var(--ee-border-color);
		border-radius: var(--ee-border-radius-small);
		border-style: solid;
		border-width: var(--ee-border-width);
		box-shadow: var(--ee-button-box-shadow);
		box-sizing: border-box;
		color: var(--ee-default-text-color);
		display: inline-flex;
		height: var(--ee-icon-button-size);
		justify-content: center;
		margin: 0;
		min-height: var(--ee-icon-button-size);
		min-width: var(--ee-icon-button-size);
		top: 0;

		// specificity fix
		&.ee-icon-button {
			padding: var(--ee-padding-micro);
			width: var(--ee-icon-button-size);
		}

		svg,
		svg.ee-svg {
			display: inline-block;
			margin: 0;

			path {
				@include transition(fill 0.1s ease 0.1s, color 0.1s ease 0.1s !important);
			}
		}

		path:not(.ee-outlined) {
			fill: currentColor;
		}
		path.ee-outlined {
			fill: none !important;
		}

		&:focus {
			@extend .btn-focus;
		}

		&:hover {
			@extend .btn-hover;
		}

		&--active {
			border-color: var(--ee-color-primary-low-contrast);
			color: var(--ee-color-primary);
		}

		&--borderless {
			border-color: transparent;
		}

		&-color {
			&--white {
				background: rgba(255, 255, 255, 0.1);

				svg {
					color: var(--ee-color-white);
				}

				&:active,
				&:focus,
				&:hover {
					border-color: var(--ee-color-white);
				}
			}
		}

		&--transparent-bg {
			background-color: var(--ee-button-transparent-background);
			box-shadow: var(--ee-button-box-shadow-soft);
		}

		&.ee-btn--tiny {
			box-shadow: var(--ee-button-box-shadow-soft);
			height: var(--ee-icon-button-size-tiny);
			min-height: var(--ee-icon-button-size-tiny);
			min-width: var(--ee-icon-button-size-tiny);
			padding: var(--ee-padding-nano);
			width: var(--ee-icon-button-size-tiny);
		}

		&.ee-btn--small {
			box-shadow: var(--ee-button-box-shadow-soft);
			height: var(--ee-icon-button-size-small);
			min-height: var(--ee-icon-button-size-small);
			min-width: var(--ee-icon-button-size-small);
			width: var(--ee-icon-button-size-small);
		}

		&.ee-btn--smaller {
			height: var(--ee-icon-button-size-small);
			min-height: var(--ee-icon-button-size-small);
			min-width: var(--ee-icon-button-size-small);
			width: var(--ee-icon-button-size-small);
		}

		&.ee-btn--big {
			box-shadow: var(--ee-button-box-shadow-hard);
			height: var(--ee-icon-button-size-big);
			min-height: var(--ee-icon-button-size-big);
			min-width: var(--ee-icon-button-size-big);
			width: var(--ee-icon-button-size-big);
		}

		&.ee-btn--bigger {
			box-shadow: var(--ee-button-box-shadow-hard);
			height: var(--ee-icon-button-size-bigger);
			min-height: var(--ee-icon-button-size-bigger);
			min-width: var(--ee-icon-button-size-bigger);
			padding: var(--ee-padding-smaller);
			width: var(--ee-icon-button-size-bigger);
		}

		&.ee-btn--huge {
			box-shadow: var(--ee-button-box-shadow-hard);
			height: var(--ee-icon-button-size-huge);
			min-height: var(--ee-icon-button-size-huge);
			min-width: var(--ee-icon-button-size-huge);
			padding: var(--ee-padding-small);
			width: var(--ee-icon-button-size-huge);
		}

		&--no-margin {
			margin: 0;
		}

		&--no-padding {
			&.ee-icon-button {
				padding: 0;
			}
		}
	}
}
