@import '~@eventespresso/styles/src/mixins/breakpoints';

.ee-rte-with-edit-mode {
	margin-top: var(--ee-margin-small);

	@include min767px {
		margin-top: calc(var(--ee-margin-small) * -3.5);
	}

	.ee-textarea.ee-html-editor {
		border: var(--ee-border-width-thick) solid rgba(192, 192, 192, 0.5);
		font-size: var(--ee-font-size-big);
		min-height: 15rem;
		padding: var(--ee-padding-smaller);
		resize: none;

		&:hover {
			color: var(--ee-default-text-color);
		}
	}
}
