@import '../functions';

:root {
	--ee-status-color-red: #fc1922;
    --ee-status-color-pink: #e65983;
    --ee-status-color-orange: #ff582c;
    --ee-status-color-gold: #fdad02;
    --ee-status-color-yellow: #fad800;
    --ee-status-color-green: #32873A;
    --ee-status-color-green-high-contrast: #32873A;
    --ee-status-color-dark-green: #01873a;
    --ee-status-color-dark-green-low-contrast: #02ac4a;
    --ee-status-color-light-blue: #94d5ff;
    --ee-status-color-blue: #008dcb;
    --ee-status-color-purple: #795d9d;
    --ee-status-color-light-grey: #d4d4d4;
    --ee-status-color-grey: #9b9b9b;
    --ee-status-color-dark-grey: #626262;
    --ee-status-color-charcoal: #292929;
}

$datetime-statuses: (
	// datetime sold out
	DTS: 'purple',
	// datetime active
	DTA: 'green',
	// datetime postponed
	DTP: 'gold',
	// datetime cancelled
	DTC: 'hot-pink',
	// datetime inactive
	DTI: 'blue-green',
	// datetime expired
	DTE: 'grey-6',
	// datetime trashed
	DTT: 'grey-3',
	// datetime upcoming
	DTU: 'blue'
);

$payment-statuses: (
	// payment approved
	PAP: 'green',
	// payment pending
	PPN: 'blue',
	// payment failed
	PFL: 'gold',
	// payment declined
	PDC: 'hot-pink',
	// payment cancelled
	PCN: 'grey-7'
);

$registration-statuses: (
	// registration approved
	RAP: 'green',
	// registration pending
	RPP: 'blue',
	// registration wait list
	RWL: 'purple',
	// registration incomplete
	RIC: 'gold',
	// registration not approved
	RNA: 'orange',
	// registration declined
	RDC: 'hot-pink',
	// registration cancelled
	RCN: 'grey-7'
);

$ticket-statuses: (
	// ticket sold-out
	TKS: 'purple',
	// ticket onsale
	TKO: 'green',
	// ticket pending
	TKP: 'blue',
	// ticket expired
	TKE: 'grey-6',
	// ticket archived
	TKA: 'grey-3'
);

$transaction-statuses: (
	// transaction open
	TOP: 'orange',
	// transaction completed
	TCM: 'green',
	// transaction incomplete
	TIN: 'blue',
	// transaction abandoned
	TAB: 'gold',
	// transaction failed
	TFL: 'hot-pink'
);

$statuses: map-collect(
	$datetime-statuses,
	$payment-statuses,
	$registration-statuses,
	$ticket-statuses,
	$transaction-statuses
);

@each $status, $color in $statuses {
	.ee-status-color-#{$status} {
		color: var(--ee-color-#{$color});
	}

	.ee-status-background-color-#{$status} {
		background-color: var(--ee-status-color-#{$color}) !important;

		@if ($color == green) {
			color: var(--ee-color-white) !important;
		} @else {
			color: var(--ee-text-on-#{$color});
		}
	}
}
