@import '~@eventespresso/styles/src/mixins/breakpoints';

.ee-rte-with-edit-mode {
	margin-top: var(--ee-margin-small);

	@include min767px {
		margin-top: calc(var(--ee-margin-small) * -3.5);
	}

	.ee-textarea.ee-html-editor {
		border: var(--ee-border-width-thick) solid rgba(192, 192, 192, 0.5);
		box-sizing: border-box;
		font-size: var(--ee-font-size-big);
		line-height: var(--ee-font-size-huge);
  		min-height: clamp(10rem, 50vh, 50rem);
		margin: var(--ee-margin-small);
		padding: var(--ee-padding-default);
		resize: none;
  		width: calc(100% - var(--ee-margin-default));

		&:hover {
			color: var(--ee-default-text-color);
		}
	}
}
