@import '~@eventespresso/styles/src';

.ee-select-wrapper.ee-select-wrapper {
	display: inline-flex;
	max-height: calc(var(--ee-icon-button-size) + 4px);
	width: auto;

	.ee-select {
		@include ee-base-inputs-styles;

		appearance: none;

		&__inline-wrapper {
			align-items: center;
			display: flex;
			min-width: 9rem;
		}

		&.ee-select {
			line-height: 1.5;
			padding: var(--ee-padding-micro) var(--ee-padding-bigger) var(--ee-padding-micro) var(--ee-padding-smaller);

			[dir='rtl'] & {
				padding: var(--ee-padding-micro) var(--ee-padding-smaller) var(--ee-padding-micro)
					var(--ee-padding-bigger);
			}
		}
	}

	> div {
		svg {
			color: var(--ee-border-color) !important;
			height: 1.25rem !important;
			width: 1.25rem !important;
		}
	}
}
