@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

.ee-btn-row {
	display: flex;
	padding: var(--ee-padding-nano);
	max-width: 900px;

	&--full-width {
		width: 100%;
	}

	&--no-margin {
		margin: 0;
	}

	&--align-items {
		&-center {
			align-items: center;
		}
	}

	&--horizontal-align {
		&-center {
			margin-left: auto;
			margin-right: auto;
		}

		&-left {
			justify-content: flex-start;
		}

		&-right {
			justify-content: flex-end;
		}
	}

	&--justify-content {
		&-center {
			justify-content: center;
		}

		&-space-between {
			justify-content: space-between;
			max-width: none;
		}
	}

	.ee-form + & {
		margin: var(--ee-margin-big) 0;

		@include max782px {
			margin: var(--ee-margin-defult) 0;
		}

		@include max600px {
			margin: var(--ee-margin-small) 0;
		}

		@include max480px {
			margin: var(--ee-margin-smaller) 0;
		}

		@include max360px {
			margin: var(--ee-margin-tiny) 0;
		}
	}

	@include max480px {
		flex-flow: column;
	}
}
