@import '~@eventespresso/styles/src/mixins/breakpoints';

.ee-rspnsv-table.ee-rspnsv-table .ee-rspnsv-table-body.ee-rspnsv-table-body td {
	&.ee-col__inline-edit {
		align-items: center;
		display: flex;
		min-height: 44px;
	}
	.ee-currency-display {
		padding: 0;
	}
}
