@import '~@eventespresso/styles/src/mixins/breakpoints';

.ee-rich-text-editor {
	cursor: text;
	font-size: var(--ee-font-size-default);
	margin-top: var(--ee-margin-smaller);

	&--hidePlaceholder {
		.public-DraftEditorPlaceholder-inner {
			display: none;
		}
	}

	$text-alignments: right, left, center, justify;

	@each $text-alignment in $text-alignments {
		&--align-#{$text-alignment} {
			text-align: $text-alignment;
			& > div {
				display: inline-block;
			}
		}
	}

	&__toolbar {
		border: none;
		border-bottom: 3px solid rgba(192, 192, 192, 0.5);
		border-radius: 0;
		margin: 0;
		padding:  var(--ee-padding-tiny) 0 var(--ee-padding-small);
		display: flex;
		flex-wrap: wrap;

		&-popover .ee-popover__content {
			width: 100%;

			@include min480px {
				max-width: 300px;
			}
		}
	}

	&__toolbar-item {
		border-radius: var(--ee-border-radius-small) !important;
		border-style: solid;
		border-width: var(--ee-border-width);
		padding: var(--ee-padding-nano) var(--ee-margin-nano) !important;
		margin: var(--ee-margin-nano) !important;
		min-width: 50px;

		&:hover,
		&:focus {
			border-color: var(--ee-color-primary);
		}

		&--active.ee-btn-base.ee-icon-button {
			color: var(--ee-text-on-primary) !important;
			background: var(--ee-color-primary) !important;
			svg {
				color: var(--ee-text-on-primary);
				fill: var(--ee-text-on-primary);
			}
		}
	}
	.ee-rich-text-editor__image-toolbar {
		position: absolute;
		bottom: var(--ee-padding-small);
	}
	&--image {
		display: flex;
		position: relative;
	}
	&--image-wrapper {
		position: relative;
	}
	&--image-align-center {
		justify-content: center;
	}
	&--image-align-right {
		justify-content: flex-end;
	}
	figure {
		border-width: 0;
	}

	.DraftEditor-root {
		.public-DraftStyleDefault-block {
			color: var(--ee-default-text-color-high-contrast);
			font-weight: 100;
		}
	}

	.public-DraftEditor-content,
	.public-DraftEditorPlaceholder-root {
		margin: 0;
		padding: 0 var(--ee-padding-smaller) var(--ee-padding-small);
	}

	.public-DraftEditor-content {
		min-height: calc(var(--ee-font-size-default) * 10);
	}
}
