.ee-rich-text-editor {
	cursor: text;
	font-size: 16px;
	margin-top: 10px;

	&-root {
		border-color: var(--ee-border-color);
		border-radius: var(--ee-border-radius-small);
		border-style: solid;
		border-width: var(--ee-border-width);
		padding: var(--ee-padding-micro) var(--ee-padding-tiny);
		.link-popover {
			z-index: 99;
		}
	}

	&--hidePlaceholder {
		.public-DraftEditorPlaceholder-inner {
			display: none;
		}
	}

	&__toolbar {
		border: none;
		border-bottom: 3px solid rgba(192, 192, 192, 0.5);
		border-radius: 0;
		margin: 0 var(--ee-margin-micro);
		padding: var(--ee-padding-tiny) 0;
		display: flex;
		flex-wrap: wrap;
	}

	&__toolbar-item {
		border-radius: var(--ee-border-radius-small) !important;
		border-style: solid;
		border-width: var(--ee-border-width);
		padding: var(--ee-padding-nano) var(--ee-margin-nano) !important;
		margin: var(--ee-margin-nano) !important;
		min-width: 50px;

		&:hover,
		&:focus {
			border-color: var(--ee-color-primary);
		}

		&--active {
			color: var(--ee-color-primary-high-contrast);

			svg {
				color: var(--ee-color-primary-high-contrast);
			}
		}
	}

	.DraftEditor-root {
		.public-DraftStyleDefault-block {
			color: var(--ee-default-text-color-high-contrast);
			font-weight: 100;
		}
	}

	.public-DraftEditor-content,
	.public-DraftEditorPlaceholder-root {
		margin: 0 -15px -15px;
		padding: 15px;
	}

	.public-DraftEditor-content {
		min-height: 100px;
	}
}
