.ee-rich-text-editor {
	border-top: 1px solid #ddd;
	cursor: text;
	font-size: 16px;
	margin-top: 10px;

	&-root {
		background-color: var(--ee-background-color);
		border-color: var(--ee-border-color);
		border-radius: var(--ee-border-radius-small);
		border-style: solid;
		border-width: var(--ee-border-width);
		padding: var(--ee-padding-micro) var(--ee-padding-tiny);

		.ee-rich-text-editor-toolbar {
			img {
				// override WP image styles
				border: 0 !important;
			}
		}
	}
	a {
		text-decoration: underline !important;
	}
}
