.ee-ticket-editable-price {
	.ee-currency-sign,
	span {
		color: var(--ee-default-text-color-low-contrast) !important;
		font-size: var(--ee-font-size-big) !important;
		font-weight: 900 !important;
		letter-spacing: 2px;
		padding: var(--ee-padding-micro);
	}

	span {
		cursor: pointer;
	}
}
