@import '~@eventespresso/styles/src/mixins/breakpoints';

.ee-sort-by-control {
	align-items: flex-end;
	display: flex;
	padding-bottom: var(--ee-padding-tiny);

	.ee-input-label__wrapper {
		padding-bottom: 0;
	}
}

.ee-filter-bar-modal__reorder-entitites {
	@include min667px {
		min-width: 40rem;
	}

	.ee-droppable {
		.ee-draggable {
			padding: var(--ee-padding-tiny) 0;

			> span {
				font-size: var(--ee-font-size-default);
				margin-right: var(--ee-margin-tiny);

				[dir='rtl'] & {
					margin-left: var(--ee-margin-tiny);
					margin-right: 0;
				}
			}
		}
	}
}
