@import '~@eventespresso/styles/src';

.ee-sort-by-control {
	align-items: flex-end;
	display: flex;
	padding-bottom: var(--ee-padding-tiny);

	.ee-input-label__wrapper {
		padding-bottom: 0;
	}
}

.ee-filter-bar-modal__reorder-entitites {
	.ee-droppable {
		.ee-draggable {
			> span {
				font-size: var(--ee-font-size-default);
				margin-right: var(--ee-margin-tiny);
				padding: var(--ee-padding-tiny) 0;
			}
		}
	}
}
