// @import '~@eventespresso/styles/src/mixins/breakpoints';

.ee-btn-base {
	&.ee-btn {
		box-sizing: border-box;

		&.ee-btn--micro {
			box-shadow: var(--ee-button-box-shadow-soft);
			font-size: var(--ee-font-size-micro);
			height: var(--ee-icon-button-size-micro);
			min-height: var(--ee-icon-button-size-smaller);
			line-height: var(--ee-icon-button-size-micro);
			padding: 1px var(--ee-padding-tiny) 2px;

			span {
				font-size: var(--ee-font-size-micro);
				letter-spacing: 1px;
			}

			svg {
				height: 0.6rem;
				width: 0.6rem;
			}

			.img-wrap span {
				line-height: var(--ee-font-size-micro);
			}
		}

		&.ee-btn--tiny {
			box-shadow: var(--ee-button-box-shadow-soft);
			font-size: var(--ee-font-size-tiny);
			height: var(--ee-icon-button-size-tiny);
			min-height: var(--ee-icon-button-size-smaller);
			line-height: var(--ee-icon-button-size-tiny);
			padding: 1px var(--ee-padding-smaller) var(--ee-padding-nano);

			span {
				font-size: var(--ee-font-size-tiny);
			}

			svg {
				height: 0.6rem;
				width: 0.6rem;
			}

			.img-wrap span {
				line-height: var(--ee-font-size-tiny);
			}
		}

		&.ee-btn--small,
		&.ee-btn--smaller {
			box-shadow: var(--ee-button-box-shadow-soft);
			line-height: var(--ee-font-size-small);
			height: var(--ee-icon-button-size-small);
			line-height: var(--ee-icon-button-size-tiny);
			min-height: var(--ee-icon-button-size-small);
			letter-spacing: 1px;
			padding: calc(var(--ee-padding-nano) + 1px) var(--ee-padding-smaller) var(--ee-padding-micro);

			svg {
				margin-top: 2px;
			}

			> div {
				margin-top: 2px;

				svg {
					margin-top: 0;
				}
			}

			&:not(.ee-noIcon) .text-wrap {
				top: -0.1rem;
			}

			.img-wrap {
				top: 0.2rem;

				span {
					line-height: var(--ee-font-size-smaller);
				}
			}
		}

		&.ee-btn--small {
			box-shadow: var(--ee-button-box-shadow);
			// height: var(--ee-icon-button-size-small);
			// line-height: var(--ee-font-size-tiny);
			// min-height: var(--ee-font-size-small);

			span {
				font-size: var(--ee-font-size-small);
			}

			svg {
				height: 0.9rem;
				width: 0.9rem;
			}
		}

		&.ee-btn--smaller {
			// height: var(--ee-icon-button-size-smaller);
			// line-height: var(--ee-font-size-micro);
			// min-height: var(--ee-font-size-smaller);

			span {
				font-size: var(--ee-font-size-smaller);
			}

			svg {
				height: 0.8rem;
				width: 0.8rem;
			}
		}

		&.ee-btn--big,
		&.ee-btn--bigger {
			box-shadow: var(--ee-button-box-shadow-hard);
			font-size: var(--ee-font-size-big);
			height: var(--ee-icon-button-size-big);
			min-height: var(--ee-icon-button-size-big);
			line-height: var(--ee-icon-button-size-big);
			padding: var(--ee-padding-smaller) var(--ee-padding-default);

			span {
				font-size: var(--ee-font-size-big);
				font-weight: 800;
			}

			svg {
				[dir='rtl'] & {
					margin-right: 0;
					margin-left: var(--ee-margin-tiny);
				}
			}

			.img-wrap span {
				line-height: var(--ee-font-size-big);
			}
		}

		&.ee-btn--big {
			svg {
				height: 1.5rem;
				width: 1.5rem;
			}
		}

		&.ee-btn--bigger {
			svg {
				height: 1.75rem;
				width: 1.75rem;
			}
		}

		&.ee-btn--huge {
			box-shadow: var(--ee-button-box-shadow-hard);
			font-size: var(--ee-font-size-bigger);
			height: var(--ee-icon-button-size-huge);
			min-height: var(--ee-icon-button-size-huge);
			line-height: var(--ee-icon-button-size-bigger);
			padding: var(--ee-padding-smaller) var(--ee-padding-default) var(--ee-padding-small);

			span {
				font-size: var(--ee-font-size-bigger);
				font-weight: 800;
			}

			svg {
				height: 1.75rem;
				width: 1.75rem;
			}

			.img-wrap span {
				line-height: var(--ee-font-size-bigger);
			}
		}
	}
}
