/** -------------------------------------------------------------------------
 * Event Espresso Button Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

@import '~@eventespresso/styles/src/mixins/breakpoints';
@import '~@eventespresso/styles/src/mixins/transition';
@import './colors';
@import './sizes';

.btn-focus {
	border-color: var(--ee-color-primary);
	/* Visible in Windows high-contrast themes */
	outline-color: transparent;
	outline-width: var(--ee-border-width);
	outline-style: solid;

	&.ee-btn--is-active {
		border-color: var(--ee-color-primary-high-contrast);
	}
}

.btn-hover {
	border-color: var(--ee-color-primary-low-contrast);

	&.ee-btn--is-active {
		border-color: var(--ee-color-primary-super-high-contrast);
	}
}

.ee-btn-base {
	border-style: solid;
	border-width: var(--ee-border-width);
	box-sizing: border-box;
	cursor: pointer;
	display: inline-flex;
	height: var(--ee-icon-button-size);
	margin: var(--ee-margin-nano);
	width: var(--ee-icon-button-size);

	&:focus {
		@extend .btn-focus;
	}

	&:hover {
		@extend .btn-hover;
	}

	&.ee-btn {
		background: var(--ee-button-background);
		border-color: var(--ee-button-background);
		border-radius: var(--ee-border-radius-small);
		box-shadow: var(--ee-button-box-shadow);
		box-sizing: border-box;
		color: var(--ee-button-text-color);
		display: inline-flex;
		height: var(--ee-icon-button-size);
		line-height: var(--ee-font-size-default);
		margin: var(--ee-margin-smaller);
		min-width: var(--ee-icon-button-size);
		outline: none;
		padding: var(--ee-padding-tiny) var(--ee-padding-smaller);
		position: relative;
		text-decoration: none;
		text-align: center;
		text-shadow: var(--ee-text-shadow-inset-light);
		vertical-align: middle;
		width: fit-content;
		@include transition(all linear 50ms);

		&--no-margin {
			margin: 0;
		}

		&--no-horizontal-margin {
			margin-left: 0;
			margin-right: 0;
		}

		&--no-vertical-margin {
			margin-top: 0;
			margin-bottom: 0;
		}

		@include max480px {
			margin: var(--ee-margin-tiny) var(--ee-margin-nano);
		}

		@include max360px {
			width: calc(100% - (var(--ee-margin-nano) * 2));
		}

		span {
			font-family: var(--ee-admin-font-family);
			font-size: var(--ee-font-size-default);
			font-weight: 600;
		}

		svg {
			fill: currentColor;
			@include transition(color 50ms linear, fill 50ms linear);
		}

		&--has-icon,
		&:not(.ee-noIcon) {
			span {
				margin: 0 var(--ee-margin-tiny);
			}
		}

		&:focus {
			background: var(--ee-button-background);
			box-shadow: var(--ee-button-box-shadow);
			@extend .btn-focus;
		}

		&:hover {
			background: var(--ee-button-background);
			box-shadow: var(--ee-button-box-shadow);
			@extend .btn-hover;
		}

		&.ee-btn--is-active {
			background: var(--ee-color-primary);
			border-color: var(--ee-color-primary);
			box-shadow: var(--ee-button-box-shadow);
			color: var(--ee-text-on-primary);
			text-shadow: var(--ee-text-shadow-inset);

			&:focus {
				background-color: var(--ee-color-primary-high-contrast);
				border-color: var(--ee-color-primary-high-contrast);
			}

			&:hover {
				border-color: var(--ee-color-primary-low-contrast);
			}
		}

		&:active:not([disabled]) {
			background: var(--ee-button-background);
			box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), -1px -1px 2px rgba(255, 255, 255, 0.75);
		}

		.text-wrap {
			font-weight: bold;
			position: relative;
			top: calc(var(--ee-padding-nano) * -1.5);
			vertical-align: middle;
		}

		&.ee-noIcon .text-wrap {
			position: relative;
			top: var(--ee-padding-nano);
		}

		.img-wrap {
			position: relative;
			margin: 0 0 0 var(--ee-padding-small);
			top: var(--ee-padding-nano);
			vertical-align: middle;
		}

		.img-wrap span {
			line-height: 24px;
		}

		/* MINIMAL */
		&.ee-btn--minimal {
			&:not([disabled]) {
				background: none;
				border-color: var(--ee-default-text-color-low-contrast);
				color: var(--ee-default-text-color);
			}

			&:focus:not([disabled]) {
				background: none;
				border-color: var(--ee-color-primary);
				color: var(--ee-color-primary);

				&.ee-btn--is-active {
					border-color: var(--ee-color-primary-high-contrast);
				}
			}

			&:hover:not([disabled]) {
				background: none;
				border-color: var(--ee-color-primary-low-contrast);
				color: var(--ee-color-primary-low-contrast);
				&.ee-btn--is-active {
					border-color: var(--ee-color-primary-super-low-contrast);
				}
			}
		}

		/* DISABLED */
		&.ee-btn:disabled,
		&.ee-btn--primary:disabled,
		&.ee-btn--secondary:disabled,
		&.ee-btn--accent:disabled,
		&.ee-btn[aria-disabled='true'],
		&.ee-btn--primary[aria-disabled='true'],
		&.ee-btn--secondary[aria-disabled='true'],
		&.ee-btn--accent[aria-disabled='true'] {
			background: var(--ee-color-grey-11);
			border-color: var(--ee-color-grey-11);
			box-shadow: none;
			color: var(--ee-text-on-grey-11);
			cursor: not-allowed;
			opacity: 0.4;
		}
	}

	.ee-btn-label + .ee-btn {
		margin-right: var(--ee-margin-small) !important;
	}
}
