@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

.ee-tooltip.ee-tooltip {
	background-color: #fbf094;
	border: 2px solid #fbf094;
	border-radius: var(--ee-border-radius-small);
	box-shadow: var(--ee-box-shadow-tiny);
	box-sizing: border-box;
	color: #302936;
	font-weight: 600;
	letter-spacing: 2px;
	max-width: 300px;
	padding: var(--ee-padding-micro) var(--ee-padding-smaller) var(--ee-padding-tiny);
	position: relative;
	text-shadow: var(--ee-text-shadow-inset-light);
	white-space: pre-wrap;
	width: auto;
	word-spacing: 0.15rem;
	z-index: 1401;
}

.ee-mobile-help-text {
	display: none;

	@include max782px {
		display: inline-block;
		line-height: 1.25;
		margin-left: var(--ee-margin-small);
		max-width: 75%;
		white-space: normal;

		&__btn-wrap {
			display: flex;
			flex-flow: row nowrap;
		}

		&__tooltip {
			display: none;
		}

		&--short {
			max-width: 50%;
		}

		&--long {
			max-width: 100%;
		}
	}
}
