.ee-link.ee-link {
	background-color: unset;
	box-shadow: none !important;
	color: var(--ee-color-blue);

	&:not(:hover):not(:focus) {
		border: none;
	}

	&--no-icon {
		display: inline;
		padding: 0;
	}
}
