@import '~@eventespresso/styles/src';

.ee-form {
	.form-wrapper {
		margin: 0 auto;
		max-width: 900px;
		padding: 0;

		.ee-debug-info-btn {
			@include max782px {
				display: block;
				margin-left: 0;
				width: 100%;
			}
		}
	}

	.sections-wrapper {
		padding: 0 0 var(--ee-padding-big);
		& > div:first-child {
			padding: var(--ee-padding-small) 0;
		}
	}

	.section {
		&-wrapper {
			padding: var(--ee-padding-bigger) 0 0;
			display: flex;
			flex-wrap: wrap;
		}

		&-wrapper + &-wrapper {
			border-top: var(--ee-border-width) solid var(--ee-color-grey-14);
		}

		&-body {
			padding: var(--ee-padding-smaller) 0;

			.ee-form-item {
				padding: var(--ee-padding-smaller) 0;

				label {
					color: var(--ee-default-text-color-high-contrast);
				}

				&-switch {
					padding: var(--ee-padding-small) 0;
				}

				&-pair {
					box-sizing: border-box;
					display: inline-flex;
					margin: var(--ee-margin-default) 0;
					padding-right: var(--ee-padding-default);
					width: 50%;

					label {
						align-items: center;
						display: flex;
						margin-bottom: 0;
					}
				}

				.ee-icon--info-circle-outlined {
					color: var(--ee-color-primary-low-contrast);
					margin: 0 var(--ee-margin-tiny);
				}
			}
		}
	}

	&-section {
		&__sidebar {
			flex: 0 1 25%;
			position: relative;

			&-heading.ee-heading.ee-heading {
				color: var(--ee-default-text-color-high-contrast);
				font-size: var(--ee-font-size-bigger);
				margin-top: 0;
				padding-right: var(--ee-padding-small);
			}

			&-icon.ee-svg.ee-svg {
				color: var(--ee-color-grey-13);
				display: inline-block;
				font-size: var(--ee-font-size-extreme);
				height: var(--ee-font-size-extreme);
				margin: 0 0 var(--ee-margin-tiny);
				width: var(--ee-font-size-extreme);
			}

			&-desc {
				color: var(--ee-default-text-color-low-contrast);
				font-family: var(--ee-admin-font-family);
				margin: var(--ee-margin-small) 0;
			}
		}
	}

	.ee-field-group__items {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	.repeatable-wrap {
		margin-bottom: var(--ee-margin-small);
	}

	.repeatable-item {
		.remove-item {
			float: right;
			margin-left: var(--ee-margin-tiny);
		}
	}

	.submit-wrapper {
		display: flex;
		justify-content: flex-end;

		> div {
			padding: 0 var(--ee-padding-tiny);
		}
	}

	@media only screen and (min-width: 782px) {
		.ee-form-section-sidebar {
			flex: 0 25%;
		}

		.section-body {
			flex: 0 75%;
			position: relative;

			.ee-field-group__item {
				flex: 0 50%;
				padding: 0 var(--ee-padding-tiny);
			}
		}
	}

	@media only screen and (max-width: 782px) {
		.ee-form-section-sidebar {
			flex: 0 100%;

			h3 {
				margin: 0 0 var(--ee-margin-default);
			}
			&-icon {
				left: unset;
				position: absolute;
				right: 0.25rem;
				top: -0.75rem;
			}
		}

		.section-body {
			flex: 0 100%;

			.ee-form-item-pair {
				width: 100%;
			}
			.ee-field-group__item {
				flex: 0 100%;
			}
		}
	}

	.tooltip {
		margin-left: var(--ee-margin-tiny);
	}
}
