.rem-tickets {
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		.ee-ticket-offset {
			letter-spacing: 1px;
			padding-top: var(--ee-padding-tiny);
		}
	}

	&__template {
		display: flex;
		flex-direction: column;
		align-items: center;
		&-input {
			display: flex;
			align-items: center;
		}
	}

	&__add-new {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}
