.rem-ticket-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	.ee-ticket-offset {
		letter-spacing: 1px;
		padding: 0.5rem 0.75rem 0 0;
	}

	.ee-add-ticket-btn {
		background-color: var(--ee-color-grey-14);
		border: 1px dashed #ccc;
		box-shadow: none;
		margin: 0.5rem 1rem;
		height: 98px;
		width: 268px;

		&:focus,
		&:hover {
			box-shadow: none;
		}
	}
}
