.rem-tickets {
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		.ee-ticket-offset {
			letter-spacing: 1px;
			padding: 0.5rem 0.75rem 0 0;
		}
	}
	&__template {
		display: flex;
		flex-direction: column;
		align-items: center;
		&-input {
			display: flex;
			align-items: center;
		}
	}
	&__form {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}
