.ee-simple-entity-card {
	align-items: flex-start;
	border: 1px solid var(--ee-border-color);
	display: flex;
	flex-wrap: wrap;
	margin: var(--ee-margin-tiny);
	max-width: 19rem;
	min-height: 8rem;

	&__details {
		border-left: 1px dotted var(--ee-border-color);
		box-sizing: border-box;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		line-height: var(--ee-font-size-default);
		padding: var(--ee-padding-smaller);
		width: 12.5rem;
	}

	&__name {
		color: var(--ee-default-text-color-low-contrast);
		font-size: var(--ee-font-size-big);
		font-weight: 700;
		margin: 0 0 var(--ee-margin-tiny);
	}

	&__sidebar {
		margin: var(--ee-margin-micro) var(--ee-margin-micro) var(--ee-margin-micro) auto;
		width: var(--ee-icon-button-size); // 42px

		[dir='rtl'] & {
			margin: var(--ee-margin-micro) auto var(--ee-margin-micro) var(--ee-margin-micro);
		}
	}

	.ee-icon-button {
		margin-bottom: var(--ee-margin-micro);
	}
}
