@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

.ee-popover {
	display: inline-block;
	position: relative;
	z-index: 100;

	.ee-popover {
		&__close-button {
			padding: var(--ee-margin-tiny);
		}
	}

	&__content[role='dialog'] {
		background-color: var(--ee-background-color);
		border: 2px solid var(--ee-background-color);
		border-radius: var(--ee-border-radius-small);
		box-shadow: var(--ee-box-shadow-small);
		box-sizing: border-box;
		color: var(--ee-default-text-color-high-contrast);
		font-weight: normal;
		min-width: 20rem;
		padding: var(--ee-padding-small);
		width: max-content;

		@include max480px {
			width: 100%;
		}

		header {
			border-bottom-color: var(--ee-button-background);
			border-bottom-width: var(--ee-border-width);
			margin: 0 0 var(--ee-margin-smaller);
			padding-inline-end: 0;
			padding-inline-start: 0;
		}

		&:focus {
			outline: 0;
		}

		.chakra-popover__arrow {
			display: none;
		}

		buton,
		.ee-btn-base.ee-btn {
			align-self: flex-end;
			opacity: 1;
		}
	}

	&-form__content {
		display: flex;
  		flex-direction: column;

		  hr {
			margin: var(--ee-margin-smaller) 0;
		  }
	}
}
