@import '~@eventespresso/styles/src/mixins/breakpoints';

.ee-range-format {
	display: inline-flex;

	span {
		font-size: var(--ee-font-size-default);
		margin-right: var(--ee-margin-tiny);

		[dir='rtl'] & {
			margin-left: var(--ee-margin-tiny);
			margin-right: 0;
		}
	}
}
