@import '~@eventespresso/styles/src/mixins/breakpoints';
@import '~@eventespresso/styles/src/effects';

.ee-empty-state {
	background-color: var(--ee-color-grey-15);
	flex-direction: column;
	justify-content: center;
	text-align: center;

	@include ee-fade-in;
}
