@import '~@eventespresso/styles/src/mixins/breakpoints';
@import '~@eventespresso/styles/src/mixins/reduce-motion';

$btn: '.ee-button.ee-btn-default';
$input-number: 'input[type=' number ']';
$input-text: 'input[type=' text ']';

.ee-tpc {
	max-width: 75rem !important;

	&__body {
		#{$input-number},
		#{$input-text},
		select {
			height: var(--ee-icon-button-size);
		}

		#{$btn} {
			margin-bottom: 0;
		}
	}

	&__default-prices-info {
		display: flex;
		flex-flow: column;
		height: 42px;
		justify-content: center;
		margin: var(--ee-margin-smaller);
		text-align: right;

		[dir='rtl'] & {
			text-align: left;
		}
	}

	&__default-taxes-info {
		color: var(--ee-color-secondary-super-high-contrast);
		font-weight: bold;
		font-size: 1.3em;
		animation: animate_color 2s infinite;
		@include reduce-motion('animation');
	}
}
