.ee-new-entity-popover {
	max-width: 60rem !important;
	height: auto !important;

	&__body {
		display: flex;
		justify-content: center;
	}
}

.ee-new-entity-option {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 3px;
	border: 1px solid #ccc;
	margin: 1em;
	padding: 1em;

	h4 {
		color: var(--ee-default-text-color-low-contrast);
		font-size: var(--ee-font-size-big);
		font-weight: 600;
		margin-top: var(--ee-margin-default);
		margin-bottom: var(--ee-margin-default);
	}

	&__description {
		text-align: center;
		max-width: 220px;
	}

	svg {
		color: var(--ee-color-grey-9);
		height: auto;
		width: 35px;
	}
}
