@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

.ee-bulk-edit-actions {
	&__wrapper {
		align-items: flex-end;
		display: flex;
		width: 100%;

		@include max782px {
			align-items: center;
			flex-direction: column;
		}

		.ee-input-label__wrapper {
			display: inline-grid;
			padding-bottom: 0;
			padding-left: 0;

			label {
				@include max782px {
					text-align: center;
				}
			}
		}
	}

	&__select {
		&-wrapper {
			display: contents;
			max-width: fit-content;
		}

		&.ee-input-base.ee-select {
			max-width: fit-content;
		}
	}

	&__checkbox {
		margin: var(--ee-margin-tiny);

		div:first-of-type {
			background-color: var(--ee-background-color);
			border-color: var(--ee-border-color);
		}
	}

	&__mobile-checkbox {
		display: none;
		@include max782px {
			display: block;
		}
	}
}
