@import '~@eventespresso/styles/src/mixins/breakpoints';

.rrule-generator {
	&__week-day {
		&-checkbox-group {
			display: flex;
			justify-content: flex-end;
			margin-top: 1rem;

			label {
				flex: none;
				padding-left: 0.5rem;
				padding-right: 0.5rem;

				&:first-child {
					padding-left: 0;
				}
			}

			input[type='checkbox'] {
				position: absolute;
				left: -100vw;

				~ span {
					align-items: center;

					border: 1px solid black;
					border-radius: 50%;
					display: inline-flex;
					padding: var(--ee-padding-smaller) var(--ee-padding-micro);
					height: var(--ee-height-big);
					justify-content: center;
					text-align: center;
					width: var(--ee-height-big);
				}

				&:checked ~ span {
					background-color: rgb(41, 122, 188);
					border-color: transparent;
					color: white;
				}
			}
		}
	}
}
