@import '~@eventespresso/styles/src/mixins/breakpoints';

.rrule-generator {
	&__week-day {
		&-checkbox-group {
			display: flex;
			justify-content: flex-end;

			.ee-weekly-input {
				position: absolute;
				left: -100vw;

				~ .ee-weekly-span {
					align-items: center;

					border: var(--ee-border-width) solid var(--ee-border-color);
					border-right: none;
					display: inline-flex;
					padding: var(--ee-padding-smaller) var(--ee-padding-micro);
					height: var(--ee-icon-button-size);
					justify-content: center;
					text-align: center;
					width: var(--ee-icon-button-size-huge);

					&:hover {
						background: var(--ee-color-primary);
						border: var(--ee-border-width) solid var(--ee-color-primary);
						color: white;
					}
				}

				&:checked ~ .ee-weekly-span {
					background-color: var(--ee-color-primary);
					border-color: transparent;
					color: white;
				}
			}

			.ee-weekly-label {
				flex: none;
				padding: 0;

				&:first-child {
					.ee-weekly-input {
						~ .ee-weekly-span {
							border-top-left-radius: var(--ee-border-radius-small);
							border-bottom-left-radius: var(--ee-border-radius-small);
						}
					}
				}

				&:last-child {
					.ee-weekly-input {
						~ .ee-weekly-span {
							border-right: var(--ee-border-width) solid var(--ee-border-color);
							border-top-right-radius: var(--ee-border-radius-small);
							border-bottom-right-radius: var(--ee-border-radius-small);
						}
					}
				}
			}
		}
	}
}
