.ee-currency-display {
	align-self: center;
	color: var(--ee-default-text-color-low-contrast);
	display: flex;

	justify-content: flex-end;
	[dir='rtl'] & {
		justify-content: flex-start;
	}

	padding: var(--ee-padding-tiny);

	.ee-currency-sign {
		padding: 0 var(--ee-padding-micro);
	}

	&--vertical {
		font-size: var(--ee-font-size-big);
		font-weight: 900;
		letter-spacing: 2px;
		transform: rotate(180deg);
		writing-mode: vertical-lr;

		[dir='rtl'] & {
			writing-mode: vertical-rl;
		}

		.ee-currency-sign {
			padding: var(--ee-padding-micro) 0;
		}
	}
}
