$height-small: 20px !default;
$height-default: 30px !default;
$height-big: 45px !default;

$heights: (
	'height-small': $height-small,
	'height-default': $height-default,
	'height-big': $height-big,
) !default;
