.ee-datetime-row {
	&__title {
		align-items: center;
		display: inline-block;
		padding: var(--ee-padding-tiny);

		svg path {
			fill: white;
		}

		span {
			color: white;
		}

		&--rDate {
			background-color: rgb(38, 151, 15);
		}

		&--exDate {
			background-color: rgb(206, 43, 111);
		}

		&--gDate {
			background-color: rgb(33, 148, 200);
		}
	}
}
