.ee-datetime-row {
	&__title {
		align-items: center;
		display: inline-block;
		padding: var(--ee-padding-tiny);

		svg path {
			fill: white;
		}

		span {
			color: white;
		}

		&--addition {
			background-color: rgb(38, 151, 15);
		}

		&--exception {
			background-color: rgb(206, 43, 111);
		}

		&--generated {
			background-color: rgb(33, 148, 200);
		}
	}
}
