@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

.ee-filter-tags {
	&__wrapper {
		align-items: center;
		display: flex;
		margin: 0 0 var(--ee-margin-default);

		@include max600px {
			align-items: flex-start;
			flex-direction: column;
		}
	}

	&__header {
		font-size: var(--ee-font-size-smaller);
		font-weight: 600;
		margin: 0 var(--ee-margin-small) var(--ee-margin-tiny) 0;

		@include max600px {
			align-items: flex-start;
			flex-direction: column;
			margin: 0 0 var(--ee-margin-tiny);
		}
	}

	&__body {
		display: flex;
		flex-flow: row wrap;
	}
}
