/** -------------------------------------------------------------------------
 * Event Espresso Button Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

@import '~@eventespresso/styles/src';

:root {
	--ee-icon-button-size-micro: 24px;
	--ee-icon-button-size-tiny: 30px;
	--ee-icon-button-size-small: 36px;
	--ee-icon-button-size: 42px;
	--ee-icon-button-size-big: 48px;
	--ee-icon-button-size-huge: 54px;
}

.btn-focus {
	border-color: var(--ee-color-primary);
	box-shadow: var(--ee-button-box-shadow);
}

.btn-hover {
	border-color: var(--ee-color-primary-low-contrast);
	box-shadow: var(--ee-button-box-shadow);
	color: var(--ee-color-primary-high-contrast);
}

.ee-btn-base {
	&.ee-icon-button {
		align-items: center;
		background: rgba(192, 192, 192, 0.25);
		border-color: var(--ee-border-color);
		border-radius: var(--ee-border-radius-small);
		border-style: solid;
		border-width: var(--ee-border-width);
		box-shadow: var(--ee-button-box-shadow);
		box-sizing: border-box;
		color: var(--ee-default-text-color);
		display: inline-flex;
		height: var(--ee-icon-button-size);
		justify-content: center;
		margin: 0;
		min-height: var(--ee-icon-button-size);
		min-width: var(--ee-icon-button-size);
		top: 0;

		// specificity fix
		&.ee-icon-button {
			padding: var(--ee-padding-micro);
			width: var(--ee-icon-button-size);
		}

		svg {
			display: inline-block;

			path {
				@include transition(fill 0.1s ease 0.1s, color 0.1s ease 0.1s !important);
			}
		}
		path {
			fill: currentColor;
		}

		&--active {
			border-color: var(--ee-color-primary-low-contrast);
			color: var(--ee-color-primary);
		}

		&:focus {
			@extend .btn-focus;
		}

		&:hover {
			@extend .btn-hover;
		}

		&--borderless {
			border-color: transparent;
		}

		&--no-margin {
			margin: 0;
		}

		&-color {
			&--white {
				background: rgba(255, 255, 255, 0.1);

				svg {
					color: var(--ee-color-white);
				}

				&:active,
				&:focus,
				&:hover {
					border-color: var(--ee-color-white);
				}
			}
		}

		&.ee-btn--tiny {
			height: var(--ee-icon-button-size-tiny);
			min-height: var(--ee-icon-button-size-tiny);
			min-width: var(--ee-icon-button-size-tiny);
			padding: var(--ee-padding-nano);
			width: var(--ee-icon-button-size-tiny);
		}

		&.ee-btn--small {
			height: var(--ee-icon-button-size-small);
			min-height: var(--ee-icon-button-size-small);
			min-width: var(--ee-icon-button-size-small);
			width: var(--ee-icon-button-size-small);
		}

		&.ee-btn--smaller {
			height: var(--ee-icon-button-size-small);
			min-height: var(--ee-icon-button-size-small);
			min-width: var(--ee-icon-button-size-small);
			width: var(--ee-icon-button-size-small);
		}

		&.ee-btn--big {
			height: var(--ee-icon-button-size-big);
			min-height: var(--ee-icon-button-size-big);
			min-width: var(--ee-icon-button-size-big);
			width: var(--ee-icon-button-size-big);
		}

		&.ee-btn--bigger {
			height: var(--ee-icon-button-size-huge);
			min-height: var(--ee-icon-button-size-huge);
			min-width: var(--ee-icon-button-size-huge);
			padding: var(--ee-padding-smaller);
			width: var(--ee-icon-button-size-huge);
		}
	}
}
