.ee-entity-edit-modal {
	.shift-dates-wrapper {
		display: flex;
		align-items: center;

		.ee-field-group__label {
			font-weight: 600;
			font-size: 1.2em;
			line-height: 1.4em;
			flex-basis: 15%;
		}

		.ee-field-group__items {
			flex-basis: 85%;
			.ee-field-group__item {
				flex-basis: 33% !important;
			}
		}
	}
}
