.rrule-generator {
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;

	&__alert-danger {
		background-color: rgb(254, 215, 215);
		margin-bottom: 0.75rem;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-bottom: 0.75rem;
		padding-top: 0.75rem;
	}
}
