@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

.ee-entity-details-panel {
	align-self: flex-start;
	color: var(--ee-default-text-color);
	display: flex;
	flex-flow: row nowrap;
	font-size: var(--ee-font-size-big);
	justify-content: center;
	line-height: var(--ee-font-size-big);
	margin: auto 0 0;
	min-width: calc(var(--ee-font-size-tiny) * 21);
	text-align: center;
	vertical-align: bottom;
	width: 100%;

	@include max600px {
		font-size: var(--ee-font-size-default);
	}

	.ee-inline-edit-text {
		font-size: var(--ee-font-size-big);
		line-height: var(--ee-font-size-big);
	}

	.ee-entity-details {
		display: flex;
		flex-direction: column-reverse;
		margin: auto;
		max-width: calc(var(--ee-font-size-tiny) * 9);
		width: 100%;

		.ee-inline-edit-input {
			max-width: var(--ee-font-size-extreme);
			margin: 0 0 calc(var(--ee-margin-micro) * -1);
		}

		&__label {
			color: var(--ee-default-text-color-super-high-contrast);
			font-size: var(--ee-font-size-tiny);
			letter-spacing: 1px;
		}

		&__value {
			align-items: center;
			display: flex;
			font-weight: 600;
			justify-content: center;
			margin-bottom: 0;
			max-height: 100%;

			.ee-entity-list__card-view & {
				font-weight: 700;
				margin-bottom: -0.2rem;
			}

			svg.ee-svg.ee-svg {
				margin: 0;
				position: relative;
			}

			.entity-sold {
				align-items: center;
				display: inline-flex;
				justify-content: center;
			}
		}

		&__separator {
			border: 0 solid rgba(0, 0, 0, 0);
			border-left: 1px solid rgba(0, 0, 0, 0.25);
			height: calc(var(--ee-font-size-big) + var(--ee-font-size-bigger));
		}
	}

	.entity-card--reverse-layout & {
		align-self: flex-end;
	}
}
