.ee-dropdown-menu {
	&__wrapper {
		z-index: 2;

		&--no-z-index {
			z-index: unset;
		}
	}

	&__list {
		border: 1px solid var(--ee-border-color);
		box-shadow: var(--ee-box-shadow-small);
		padding: var(--ee-padding-smaller) var(--ee-padding-smaller) var(--ee-padding-small);

		&[role='menu'] {
			z-index: 100;
		}
	}

	&__item {
		margin-bottom: 0.25rem;

		.ee-dropdown-menu__list & {
			font-size: var(--ee-font-size-default);
			min-height: 2.5rem;
			padding: var(--ee-padding-tiny);
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:focus[role='menuitem'],
		&:hover[role='menuitem'] {
			background-color: var(--ee-color-grey-13);
			box-shadow: none;
			color: var(--ee-default-text-color-high-contrast);
		}

		svg,
		svg.ee-svg {
			margin: 0 var(--ee-margin-default) 0 0;
		}
	}
}
