.ee-dropdown-menu {
	&__wrapper {
		z-index: 2;

		&--no-z-index {
			z-index: unset;
		}
	}

	&__list,
	&__list[role='menu'] {
		border: none;
		box-shadow: var(--ee-box-shadow-default);
		color: var(--ee-default-text-color);
		min-width: 12rem;
		outline: none;
		padding: var(--ee-padding-smaller);
		z-index: 100;
	}

	&__item {
		margin-bottom: 0.25rem;

		.ee-dropdown-menu__list & {
			font-size: var(--ee-font-size-default);
			min-height: 2.5rem;
			padding: 0;
			padding-block: var(--ee-padding-tiny);
			padding-inline: var(--ee-padding-smaller);
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:focus[role='menuitem'],
		&:hover[role='menuitem'] {
			background-color: var(--ee-color-grey-14);
			box-shadow: none;
			color: var(--ee-default-text-color-high-contrast);
		}

		svg,
		svg.ee-svg.ee-svg {
			color: var(--ee-default-text-color);
			margin: 0;
			margin-inline-end: var(--ee-margin-smaller);
		}
	}
}
