.ee-timezone-info {
	display: inline-block;
	margin-left: var(--ee-margin-smaller);
	position: relative;

	[dir='rtl'] & {
		margin-left: 0;
		margin-right: var(--ee-margin-smaller);
	}

	&__button.ee-btn-base {
		border: none;

		svg {
			height: 100% !important;
			padding: var(--ee-padding-tiny);
			width: 100% !important;
		}
	}

	[role='dialog'] {
		background-color: var(--ee-background-color);
		border: 2px solid var(--ee-color-primary-super-low-contrast);
		border-radius: var(--ee-border-radius-small);
		color: var(--ee-default-text-color-high-contrast);
		font-weight: normal;
		left: 0;
		min-width: 260px;
		padding: var(--ee-padding-tiny);
		position: absolute;

		[x-arrow] {
			display: none;
		}
	}
}
