@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

.ee-editor-details-reg-url-link {
	align-items: center;
	border-color: transparent;
	border-radius: var(--ee-border-radius-small);
	box-shadow: none;
	box-sizing: border-box;
	display: inline-flex;
	font-size: var(--ee-font-size-default);
	height: var(--ee-icon-button-size);
	justify-content: center;
	line-height: var(--ee-font-size-default);
	margin: 0 auto calc(var(--ee-font-size-bigger) / -4);
	outline-style: none;
	text-decoration: none !important;
	width: var(--ee-icon-button-size);

	&.ee-btn-base {
		margin: 0;
		position: relative;
	}

	path {
		fill: var(--ee-default-text-color);
	}
}
