@import '~@eventespresso/styles/src/mixins/breakpoints';

.ee-edit-calendar-date-range {
	&.ee-popover {
		z-index: auto;

		[data-popper-reference-hidden='false'] {
			min-width: 23rem;
			max-width: 24rem;
		}
	}

	.entity-card & {
		display: flex;
		justify-content: center;
		padding: 0 0 var(--ee-padding-tiny);

			@include max480px {
				position: absolute;
				bottom: 0;
				right: .5rem;
			}
	}

	.ee-edit-calendar-date-btn {
		color: rgba(255, 255, 255, 0.5);
		display: inline-block;

		&:focus:enabled,
		&:not(:disabled):not([aria-disabled='true']):not(.is-default):hover,
		&:not(:disabled):not([aria-disabled='true']):not(.is-default):active {
			background-color: transparent;
			color: var(--ee-color-white);
			box-shadow: none;
		}
	}
}
