.ee-edit-calendar-date-range {
	&.ee-popover {
		z-index: auto;
	}

	.ee-popover__content[role='dialog'] {
		min-width: 18rem;
		max-width: 24rem;
	}

	.entity-card & {
		display: flex;
		justify-content: center;
		padding: 0 0 var(--ee-padding-tiny);
	}

	.ee-edit-calendar-date-btn {
		color: rgba(255, 255, 255, 0.5);
		display: inline-block;

		&:focus:enabled,
		&:not(:disabled):not([aria-disabled='true']):not(.is-default):hover,
		&:not(:disabled):not([aria-disabled='true']):not(.is-default):active {
			background-color: transparent;
			color: var(--ee-color-white);
			box-shadow: none;
		}
	}
}
