.ee-simple-entity-list {
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		max-width: 900px;
		margin: var(--ee-margin-small) auto;
	}

	&__template {
		display: flex;
		flex-direction: column;
		align-items: center;
		&-input {
			display: flex;
			align-items: center;
		}
	}

	&__add-new {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}
