@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

section.ee-new-entity-modal {
	background: var(--ee-background-color);
	border-radius: var(--ee-border-radius-default);
	height: auto;
	max-width: 100vw;
	min-width: 18rem;
	overflow: hidden;
	width: 42rem;

	@include max480px {
		border-radius: unset;
		height: 100%;
		width: 100%;
	}

	.ee-new-entity-modal {
		&__body {
			align-content: flex-start;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
			padding: 0.5rem 1.5rem 2rem;

			@include max480px {
				flex-flow: row wrap;
			}
		}

		&__wave {
			fill: var(--ee-color-primary);
			fill-opacity: 1;
			left: 0;
			min-height: 20%;
			position: absolute;
			top: 0;
			z-index: -1;

			@include max600px {
				top: 0.25rem;
			}
			@include max480px {
				top: 0.375rem;
			}
			@include max360px {
				top: 0.5rem;
			}
			@include max320px {
				top: 0.8rem;
			}
		}
	}

	button {
		color: rgba(255, 255, 255, 0.75);
	}

	header {
		background: var(--ee-color-primary);
		color: var(--ee-text-on-primary);
		font-weight: 700;
	}

	.ee-new-entity-option {
		align-items: center;
		background: var(--ee-background-color);
		box-shadow: var(--ee-box-shadow-small);
		border-radius: var(--ee-border-radius-small);
		border: none;
		display: flex;
		flex-direction: column;
		margin: var(--ee-margin-small);
		min-width: 16rem;
		padding: var(--ee-padding-small);
		z-index: 10;

		h4 {
			color: var(--ee-default-text-color-low-contrast);
			font-size: var(--ee-font-size-bigger);
			font-weight: 800;
			margin-top: var(--ee-margin-small);
			margin-bottom: var(--ee-margin-default);
		}

		&__description {
			max-width: 14rem;
			text-align: center;
			white-space: pre-wrap;
		}

		svg.ee-svg.ee-svg {
			color: var(--ee-color-grey-9);
			height: 48px;
			width: 48px;
		}

		&__recurring-datetime {
			svg.ee-svg.ee-svg {
				height: 42px;
				margin: 6px 0 0;
				width: 42px;
			}
		}
	}
}
