@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

.ee-modal .ee-modal {
	&__header {
		&.ee-modal__header {
			&.ee-modal--with-border {
				border-bottom: 0.5px solid var(--ee-border-color);
			}

			[dir='rtl'] & {
				padding-right: var(--ee-padding-extreme);
			}

			@include max782px {
				padding-left: var(--ee-padding-smaller);
				padding-right: var(--ee-padding-extreme);
			}
		}
	}

	&__body {
		@include max782px {
			padding-left: var(--ee-padding-smaller);
			padding-right: var(--ee-padding-smaller);
		}
	}

	&__footer {
		&.ee-modal--with-border {
			border-top: 0.5px solid var(--ee-border-color);
		}
	}
}
