@import './transition';

@mixin ee-input-base-focus {
	&:focus {
		border-color: var(--ee-color-primary);
		box-shadow: none;
		/* Visible in Windows high-contrast themes */
		outline-color: transparent;
		outline-width: var(--ee-border-width);
		outline-style: solid;
	}
}

@mixin ee-input-base-hover {
	&:hover {
		border-color: var(--ee-color-primary-low-contrast);
		color: var(--ee-color-primary-high-contrast);
		box-shadow: none;
	}
}

@mixin ee-input-disabled-hover {
	&:disabled {
		background: var(--ee-color-grey-14);
		border-color: var(--ee-color-grey-11);
		color: var(--ee-default-text-color-low-contrast);
		cursor: not-allowed;
		opacity: 0.8;

		&:hover {
			border-color: var(--ee-color-grey-9);
			color: var(--ee-default-text-color-low-contrast);
		}
	}
}

@mixin ee-base-input-sizes {
	&--micro {
		font-size: var(--ee-font-size-micro);
		height: var(--ee-icon-button-size-micro);
		min-height: var(--ee-icon-button-size-micro);
	}
	&--tiny {
		font-size: var(--ee-font-size-tiny);
		height: var(--ee-icon-button-size-tiny);
		min-height: var(--ee-icon-button-size-tiny);
	}
	&--smaller {
		font-size: var(--ee-font-size-smaller);
		height: var(--ee-icon-button-size-smaller);
		min-height: var(--ee-icon-button-size-smaller);
	}
	&--small {
		font-size: var(--ee-font-size-small);
		height: var(--ee-icon-button-size-small);
		min-height: var(--ee-icon-button-size-small);
	}
	&--big {
		font-size: var(--ee-font-size-big);
		height: var(--ee-icon-button-size-big);
		min-height: var(--ee-icon-button-size-big);
	}
	&--bigger {
		font-size: var(--ee-font-size-bigger);
		height: var(--ee-icon-button-size-bigger);
		min-height: var(--ee-icon-button-size-bigger);
	}
	&--huge {
		font-size: var(--ee-font-size-huge);
		height: var(--ee-icon-button-size-huge);
		min-height: var(--ee-icon-button-size-huge);
	}
}

@mixin ee-base-inputs-styles {
	background: var(--ee-background-color);
	border-color: var(--ee-border-color);
	border-radius: var(--ee-border-radius-small);
	border-style: solid;
	border-width: var(--ee-border-width);
	box-shadow: none;
	color: var(--ee-default-text-color);
	font-size: var(--ee-font-size-default);
	height: var(--ee-icon-button-size); // to overide Chakra
	line-height: inherit;
	min-height: var(--ee-icon-button-size); // 42px
	outline: none;
	padding: var(--ee-padding-micro) var(--ee-padding-tiny);

	@include ee-base-input-sizes;

	@include transition(all ease 50ms);

	@include ee-input-base-focus;

	@include ee-input-base-hover;

	@include ee-input-disabled-hover;

}

@mixin ee-input-base {
	@include ee-base-inputs-styles;

	&.ee-input,
	&.ee-textarea {
		@at-root {
			$types: 'text', 'password', 'date', 'datetime', 'datetime-local', 'email', 'month', 'number', 'search',
				'tel', 'time', 'url', 'week';

			@each $type in $types {
				input[type='#{$type}']#{&} {
					@include ee-base-inputs-styles;

					@include ee-input-base-focus;

					@include ee-input-base-hover;
				}
			}
		}

		@include ee-input-base-focus;

		@include ee-input-base-hover;

		@include ee-input-disabled-hover;
	}
}
