@import '~@eventespresso/styles/src';

.post-type-espresso_events {
	#adminmenuwrap {
		z-index: 2;
	}

	#ed_toolbar {
		box-sizing: content-box;
	}

	#ee-event-editor {
		position: relative;
		z-index: 1; // more info: https://github.com/eventespresso/barista/pull/437

		* {
			font-family: var(--ee-admin-font-family);
		}

		.ee-edtr-section {
			padding: var(--ee-padding-small) 0;
		}
	}

	@include max782px {
		#wpcontent {
			margin: 0 !important;
			padding: 0 0.75rem !important;
		}

		.wrap {
			margin-right: 0;
		}
	}
}
