@import '~@eventespresso/styles/src';

html.wp-toolbar {
	overflow-x: hidden;
}

.post-type-espresso_events {
	#adminmenuwrap {
		z-index: 2;
	}

	#ed_toolbar {
		box-sizing: content-box;
	}

	#ee-event-editor {
		font-family: var(--ee-admin-font-family) !important;
		position: relative;
		z-index: 1; // more info: https://github.com/eventespresso/barista/pull/437

		.ee-edtr-section {
			padding: var(--ee-padding-small) 0;
		}
	}

	#wpcontent {
		// margin: 0;
		padding: 0 var(--ee-padding-tiny);

		#wpbody-content > .wrap {
			margin: 0;
			padding: 0;
		}
	}

	@include min782px {
		#wpcontent {
			padding: 0 0 0 var(--ee-padding-small);

			#wpbody-content > .wrap {
				padding: var(--ee-padding-micro) var(--ee-padding-smaller) 0 0;
			}
		}
	}
}
