@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

.post-type-espresso_events {

	#adminmenuwrap {
		z-index: 2;
	}

	#ed_toolbar {
		box-sizing: content-box;
	}

	#ee-event-editor {
		position: relative;
		z-index: 2;
	}

	@include max782px {
		#wpcontent {
			margin: 0 !important;
			padding: 0 .75rem !important;
		}

		.wrap {
			margin-right: 0;
		}
	}
}
