$blockquote: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='var(--ee-default-text-color)'><path d='M9.49 13.22c0-0.74-0.2-1.38-0.61-1.9-0.62-0.78-1.83-0.88-2.53-0.72-0.29-1.65 1.11-3.75 2.92-4.65l-1.39-1.95c-2.73 1.3-5.42 4.28-4.96 8.050 0.29 2.38 1.67 3.95 3.62 3.95 0.85 0 1.56-0.25 2.12-0.75s0.83-1.18 0.83-2.030zM17.54 13.22c0-0.74-0.2-1.38-0.61-1.9-0.63-0.78-1.83-0.88-2.53-0.72-0.29-1.65 1.11-3.75 2.92-4.65l-1.39-1.95c-2.73 1.3-5.41 4.28-4.95 8.050 0.29 2.38 1.66 3.95 3.61 3.95 0.85 0 1.56-0.25 2.12-0.75s0.83-1.18 0.83-2.030z'></path></svg>");
$ol: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='var(--ee-default-text-color)'><path d='M6 7v-4h-0.69l-1.29 1.030 0.4 0.51 0.46-0.37c0.060-0.050 0.16-0.14 0.3-0.28l-0.020 0.42v2.69h0.84zM8 5h9v1h-9v-1zM6.77 11.95v-0.7h-1.72v-0.040l0.51-0.48c0.33-0.31 0.57-0.54 0.7-0.71 0.14-0.17 0.24-0.33 0.3-0.49 0.070-0.16 0.1-0.33 0.1-0.51 0-0.21-0.050-0.4-0.16-0.56-0.1-0.16-0.25-0.28-0.44-0.37s-0.41-0.14-0.65-0.14c-0.19 0-0.36 0.020-0.51 0.060-0.15 0.030-0.29 0.090-0.42 0.15-0.12 0.070-0.29 0.19-0.48 0.35l0.45 0.54c0.16-0.13 0.31-0.23 0.45-0.3 0.15-0.070 0.3-0.1 0.45-0.1 0.14 0 0.26 0.030 0.35 0.11s0.13 0.2 0.13 0.36c0 0.1-0.020 0.2-0.060 0.3s-0.1 0.21-0.19 0.33c-0.090 0.11-0.29 0.32-0.58 0.62l-0.99 1v0.58h2.76zM8 10h9v1h-9v-1zM6.71 13.95c0-0.3-0.12-0.54-0.37-0.71-0.24-0.17-0.58-0.26-1-0.26-0.52 0-0.96 0.13-1.33 0.4l0.4 0.6c0.17-0.11 0.32-0.19 0.46-0.23 0.14-0.050 0.27-0.070 0.41-0.070 0.38 0 0.58 0.15 0.58 0.46 0 0.2-0.070 0.35-0.22 0.43s-0.38 0.12-0.7 0.12h-0.31v0.66h0.31c0.34 0 0.59 0.040 0.75 0.12 0.15 0.080 0.23 0.22 0.23 0.41 0 0.22-0.070 0.37-0.2 0.47-0.14 0.1-0.35 0.15-0.63 0.15-0.19 0-0.38-0.030-0.57-0.080s-0.36-0.12-0.52-0.2v0.74c0.34 0.15 0.74 0.22 1.18 0.22 0.53 0 0.94-0.11 1.22-0.33 0.29-0.22 0.43-0.52 0.43-0.92 0-0.27-0.090-0.48-0.26-0.64s-0.42-0.26-0.74-0.3v-0.020c0.27-0.060 0.49-0.19 0.65-0.37 0.15-0.18 0.23-0.39 0.23-0.65zM8 15h9v1h-9v-1z'></path></svg>");
$ol-rtl: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='var(--ee-default-text-color)'><path d='M9.49 13.22c0-0.74-0.2-1.38-0.61-1.9-0.62-0.78-1.83-0.88-2.53-0.72-0.29-1.65 1.11-3.75 2.92-4.65l-1.39-1.95c-2.73 1.3-5.42 4.28-4.96 8.050 0.29 2.38 1.67 3.95 3.62 3.95 0.85 0 1.56-0.25 2.12-0.75s0.83-1.18 0.83-2.030zM17.54 13.22c0-0.74-0.2-1.38-0.61-1.9-0.63-0.78-1.83-0.88-2.53-0.72-0.29-1.65 1.11-3.75 2.92-4.65l-1.39-1.95c-2.73 1.3-5.41 4.28-4.95 8.050 0.29 2.38 1.66 3.95 3.61 3.95 0.85 0 1.56-0.25 2.12-0.75s0.83-1.18 0.83-2.030z'></path></svg>");
$ul: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='var(--ee-default-text-color)'><path d='M5.5 7c-0.83 0-1.5-0.67-1.5-1.5 0-0.82 0.67-1.5 1.5-1.5 0.82 0 1.5 0.68 1.5 1.5 0 0.83-0.68 1.5-1.5 1.5zM8 5h9v1h-9v-1zM5.5 12c-0.83 0-1.5-0.67-1.5-1.5 0-0.82 0.67-1.5 1.5-1.5 0.82 0 1.5 0.68 1.5 1.5 0 0.83-0.68 1.5-1.5 1.5zM8 10h9v1h-9v-1zM5.5 17c-0.83 0-1.5-0.67-1.5-1.5 0-0.82 0.67-1.5 1.5-1.5 0.82 0 1.5 0.68 1.5 1.5 0 0.83-0.68 1.5-1.5 1.5zM8 15h9v1h-9v-1z'></path></svg>");

.rich-text-editor {
	&-controls {
		margin-bottom: 0;

		&__wrapper {
			align-items: center;
			display: flex;
		}

		&__heading {
			.rich-text-editor-root & {
				width: auto;

				select {
					height: auto !important;
					margin-right: var(--ee-margin-smaller);
					min-height: auto !important;
					padding: 0 var(--ee-padding-smaller) !important;
					width: auto !important;
				}
			}
		}

		&__blockquote,
		&__ordered-list-item,
		&__unordered-list-item {
			background-repeat: no-repeat;
			background-size: contain;
			font-size: 0;
		}

		&__ordered-list-item,
		&__unordered-list-item {
			background-position-y: 3.5px;
			width: 15px;
		}

		&__blockquote {
			background-image: $blockquote;
			background-position-y: 3px;
			width: 16px;
		}

		&__bold {
			font-weight: bolder;
			margin-right: var(--ee-margin-smaller);
		}

		&__italic {
			font-style: italic;
		}

		&__ordered-list-item {
			background-image: $ol;

			[dir='rtl'] & {
				background-image: $ol-rtl;
			}
		}

		&__unordered-list-item {
			background-image: $ul;
		}

		&__underline {
			text-decoration: underline;
		}
	}
}
