.rich-text-editor {
	&-controls {
		margin-bottom: 0;

		&__wrapper {
			align-items: center;
			display: flex;
		}

		&__heading {
			.rich-text-editor-root & {
				width: auto;

				select {
					height: auto !important;
					margin-right: var(--ee-margin-smaller);
					min-height: auto !important;
					padding: 0 var(--ee-padding-smaller) !important;
					width: auto !important;
				}
			}
		}

		&__bold {
			font-weight: bolder;
		}

		&__italic {
			font-style: italic;
		}

		&__underline {
			text-decoration: underline;
		}
	}
}
