.ee-upsell {
	img {
		max-height: 100%;
		object-fit: contain;
		vertical-align: top;
	}

	&--template {
		&-base {
			display: flex;
			align-items: flex-start;

			> div {
				padding: 0 var(--ee-padding-small);

				> * {
					padding-bottom: var(--ee-padding-tiny);
				}
			}

			&__subtitle {
				font-size: var(--ee-font-size-smaller);
			}
		}

		&-with-bg-image {
			align-items: flex-end;
			display: flex;
			max-width: 400px;
			padding: var(--ee-padding-small);
			text-align: left;

			&__main-title {
				font-size: var(--ee-font-size-big) !important;
				margin-top: 0 !important;
				padding-bottom: var(--ee-padding-small);
			}

			&__img-wrapper {
				display: flex;

				.ee-upsell--orientation-vertical & {
					display: block;
				}
			}
		}
	}

	&--image-position {
		&-right {
			flex-direction: row-reverse;
		}

		&-bottom {
			flex-flow: column-reverse;
		}

		&-top {
			display: block;
		}
	}

	&--orientation {
		&-vertical {
			display: block;
			max-width: 300px;
			text-align: center;
		}
	}

	&--with-border {
		border: 1px solid var(--ee-border-color);
	}

	&--bg-color {
		* {
			color: var(--ee-color-white) !important;
		}

		.ee-btn {
			&:focus,
			&:hover {
				border-color: var(--ee-color-white) !important;
			}
		}

		img,
		svg {
			height: auto;
			max-width: 100px;
		}

		&-green {
			background-color: #02aec6;
		}
	}
}
