@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

.ee-rspnsv-table-body {
	tr {
		background: var(--ee-background-color);

		@include min782px {
			min-height: 3.5rem;
		}

		&:nth-child(even) {
			background: var(--ee-color-grey-15);
		}

		&:hover {
			box-shadow: 0 0 2px inset var(--ee-color-primary);
		}
	}

	.ee-rspnsv-table-body .ee-rspnsv-table-body-row,
	.ee-rspnsv-table-footer .ee-rspnsv-table-footer-row {
		box-sizing: border-box;
	}
}
