/** -------------------------------------------------------------------------
 * Event Espresso Responsive Table Stylesheet
 * © 2020 Event Espresso
 * ------------------------------------------------------------------------- */

@import './row.scss';
@import './data-cell.scss';
@import './column-sizes.scss';

.ee-rspnsv-table {
	border-collapse: separate !important;
	border-spacing: 0 var(--ee-padding-nano) !important;
	box-sizing: border-box;
	color: var(--ee-default-text-color);
	display: table;
	table-layout: fixed;
	text-align: left;

	&__outer_wrapper {
		max-width: 100%;
		position: relative;
		width: 100%;
	}

	&__inner-wrapper {
		margin: 0 auto var(--ee-margin-smaller);
		max-width: 100%;
		table-layout: auto;
		width: 100%;
	}

	&__is-scrollable .ee-rspnsv-table__inner-wrapper {
		overflow-x: scroll !important;
		overflow-y: visible;
	}

	.ee-rspnsv-table-header {
		visibility: visible;

		tr {
			box-sizing: border-box;
		}
	}

	.ee-rspnsv-table-body {
		.ee-centered-column {
			.ee-rspnsv-table-mobile-only-column-value {
				display: inline-flex;
				justify-content: center;
			}
		}

		.ee-actions-column {
			.ee-entity-menu {
				display: flex;
				justify-content: center;
			}
		}
	}

	.ee-rspnsv-table-header .ee-rspnsv-table-header-th,
	.ee-rspnsv-table-body .ee-rspnsv-table-body-td {
		box-sizing: border-box;
		font-size: var(--ee-font-size-small);
		text-align: left;
	}

	.ee-rspnsv-table-footer {
		.ee-rspnsv-table-footer-th,
		.ee-rspnsv-table-footer-td {
			box-sizing: border-box;
			font-size: var(--ee-font-size-small);
			text-align: left;
		}
	}

	.ee-rspnsv-table-body .ee-rspnsv-table-body-th {
		box-sizing: border-box;
		text-align: left;
	}
}

.ee-rspnsv-table-has-row-headers {
	.ee-rspnsv-table-header .ee-rspnsv-table-header-th:first-child,
	.ee-rspnsv-table-footer .ee-rspnsv-table-footer-th:first-child {
		box-sizing: border-box;
		text-align: left;
	}
}

.ee-rspnsv-table {
	&-th,
	&-td {
		display: table-cell;
	}

	&-td {
		&.ee-col-name {
			span,
			.ee-entity-list-text {
				font-size: var(--ee-font-size-small);
				font-weight: bold;
				line-height: 1.1 !important;
			}
		}

		.ee-rspnsv-table-mobile-only-column-value {
			display: block;
			width: 100%;
		}
	}

	.ee-rspnsv-table-short-label,
	.ee-rspnsv-table-show-on-mobile,
	.ee-rspnsv-table-mobile-only-column-header {
		display: none;
		visibility: hidden;
		width: 0;
	}

	.ee-rspnsv-table-header .ee-rspnsv-table-header-th.ee-number-column,
	.ee-rspnsv-table-body .ee-rspnsv-table-body-td.ee-number-column,
	.ee-rspnsv-table-footer .ee-rspnsv-table-footer-th.ee-number-column,
	.ee-rspnsv-table-header .ee-rspnsv-table-header-th.ee-number-column input[type='text'] {
		text-align: right;
	}

	.ee-rspnsv-table-body {
		.ee-rspnsv-table-body-th.ee-number-column input[type='text'],
		.ee-rspnsv-table-body-td.ee-number-column input[type='text'] {
			text-align: right;
		}
	}

	.ee-rspnsv-table-footer {
		.ee-rspnsv-table-footer-th.ee-number-column input[type='text'],
		.ee-rspnsv-table-footer-td.ee-number-column input[type='text'] {
			text-align: right;
		}
	}

	.ee-rspnsv-table-header .ee-rspnsv-table-header-th.ee-number-column input[type='number'] {
		text-align: right;
	}

	.ee-rspnsv-table-body {
		.ee-rspnsv-table-body-th.ee-number-column input[type='number'],
		.ee-rspnsv-table-body-td.ee-number-column input[type='number'] {
			text-align: right;
		}
	}

	.ee-rspnsv-table-footer {
		.ee-rspnsv-table-footer-th.ee-number-column input[type='number'],
		.ee-rspnsv-table-footer-td.ee-number-column input[type='number'] {
			text-align: right;
		}
	}

	.ee-rspnsv-table-header .ee-rspnsv-table-header-th.ee-number-column select {
		text-align: right;
	}

	.ee-rspnsv-table-body {
		.ee-rspnsv-table-body-th.ee-number-column select,
		.ee-rspnsv-table-body-td.ee-number-column select {
			text-align: right;
		}
	}

	.ee-rspnsv-table-footer {
		.ee-rspnsv-table-footer-th.ee-number-column select,
		.ee-rspnsv-table-footer-td.ee-number-column select {
			text-align: right;
		}
	}

	.ee-rspnsv-table-header .ee-rspnsv-table-header-th,
	.ee-rspnsv-table-body .ee-rspnsv-table-body-td,
	.ee-rspnsv-table-footer .ee-rspnsv-table-footer-th {
		&.ee-centered-column,
		.text-center {
			text-align: center;
		}
	}

	.ee-rspnsv-table-header-th.ee-entity-list-status-stripe,
	.ee-rspnsv-table-body-td.ee-entity-list-status-stripe {
		max-width: 10px;
		min-width: 5px;
		width: 0.25%;
	}

	.ee-status-stripe-div {
		width: 100%;
	}

	.ee-drop-down-menu,
	.ee-icon-menu-item {
		margin: var(--ee-margin-nano);
	}

	.ee-rspnsv-table-header-th.ee-rspnsv-table-column-nano:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-body-td.ee-rspnsv-table-column-nano:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-footer-th.ee-rspnsv-table-column-nano:not(.ee-entity-list-status-stripe) {
		padding: 1px;
		min-width: 50px;
		width: 1.25%;
	}

	.ee-rspnsv-table-header-th.ee-rspnsv-table-column-micro:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-body-td.ee-rspnsv-table-column-micro:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-footer-th.ee-rspnsv-table-column-micro:not(.ee-entity-list-status-stripe) {
		padding: var(--ee-padding-nano);
		min-width: 70px;
		width: 2.5%;
	}

	.ee-rspnsv-table-header-th.ee-rspnsv-table-column-tiny:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-body-td.ee-rspnsv-table-column-tiny:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-footer-th.ee-rspnsv-table-column-tiny:not(.ee-entity-list-status-stripe) {
		padding: var(--ee-padding-nano);
		width: 5%;
	}

	.ee-rspnsv-table-header-th.ee-rspnsv-table-column-smaller:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-body-td.ee-rspnsv-table-column-smaller:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-footer-th.ee-rspnsv-table-column-smaller:not(.ee-entity-list-status-stripe) {
		padding: var(--ee-padding-nano) var(--ee-padding-micro);
		width: 7.5%;
	}

	.ee-rspnsv-table-header-th.ee-rspnsv-table-column-small:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-body-td.ee-rspnsv-table-column-small:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-footer-th.ee-rspnsv-table-column-small:not(.ee-entity-list-status-stripe) {
		padding: var(--ee-padding-nano) var(--ee-padding-micro);
		width: 10%;
	}

	.ee-rspnsv-table-header-th.ee-rspnsv-table-column-default:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-body-td.ee-rspnsv-table-column-default:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-footer-th.ee-rspnsv-table-column-default:not(.ee-entity-list-status-stripe) {
		padding: var(--ee-padding-nano) var(--ee-padding-smaller);
		width: 12.5%;
	}

	.ee-rspnsv-table-header-th.ee-rspnsv-table-column-big:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-body-td.ee-rspnsv-table-column-big:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-footer-th.ee-rspnsv-table-column-big:not(.ee-entity-list-status-stripe) {
		padding: var(--ee-padding-nano) var(--ee-padding-smaller);
		width: 15%;
	}

	.ee-rspnsv-table-header-th.ee-rspnsv-table-column-bigger:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-body-td.ee-rspnsv-table-column-bigger:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-footer-th.ee-rspnsv-table-column-bigger:not(.ee-entity-list-status-stripe) {
		padding: var(--ee-padding-nano) var(--ee-padding-smaller);
		width: 17.5%;
	}

	.ee-rspnsv-table-header-th.ee-rspnsv-table-column-huge:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-body-td.ee-rspnsv-table-column-huge:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-footer-th.ee-rspnsv-table-column-huge:not(.ee-entity-list-status-stripe) {
		padding: var(--ee-padding-nano) var(--ee-padding-smaller);
		width: 20%;
	}

	.ee-rspnsv-table-header-th.ee-rspnsv-table-column-extreme:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-body-td.ee-rspnsv-table-column-extreme:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-footer-th.ee-rspnsv-table-column-extreme:not(.ee-entity-list-status-stripe) {
		padding: var(--ee-padding-nano) var(--ee-padding-smaller);
		width: 25%;
	}

	.ee-rspnsv-table-header-th.ee-rspnsv-table-column-auto:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-body-td.ee-rspnsv-table-column-auto:not(.ee-entity-list-status-stripe),
	.ee-rspnsv-table-footer-th.ee-rspnsv-table-column-auto:not(.ee-entity-list-status-stripe) {
		padding: var(--ee-padding-nano) var(--ee-padding-smaller);
		width: auto;
	}

	.ee-rspnsv-table-header-th,
	.ee-rspnsv-table-body-td,
	.ee-rspnsv-table-footer-th {
		min-width: 90px;
		width: 1%;
	}

	.ee-rspnsv-table-body-th {
		min-width: 180px;
		width: 2%;
	}
}
