@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

.ee-entity-actions-menu {
	display: flex;

	&--horizontal {
		flex-direction: row;
		justify-content: flex-start;

		.ee-dropdown-menu {
			margin-right: var(--ee-margin-tiny);

			[dir='rtl'] & {
				margin-left: var(--ee-margin-small);
				margin-right: 0;
			}

			&__toggle {
				padding: 0;
			}
		}

		.ee-btn-base.ee-icon-button {
			margin: 0 var(--ee-margin-tiny) 0 0;
		}
	}

	&--vertical {
		align-items: center;
		flex-direction: column;
		text-align: center;

		.ee-btn-base.ee-icon-button {
			margin: 0 0 var(--ee-margin-tiny);
		}

		@include max480px {
			flex-direction: row;
			justify-content: center;
		}
	}

	@include max480px {
		margin: var(--ee-margin-tiny);

		> div,
		> .ee-btn-base.ee-icon-button {
			margin: 0 var(--ee-margin-tiny);

			.ee-btn-base.ee-icon-button {
				margin: 0;
			}
		}

		> div {
			.ee-btn-base.ee-icon-button {
				margin: 0;
			}
		}
	}

	.ee-btn-default.ee-btn:not([disabled]),
	.ee-btn-primary.ee-btn:not([disabled]),
	.ee-btn-secondary.ee-btn:not([disabled]),
	.ee-btn-accent.ee-btn:not([disabled]) {
		background: none;
		border: none;
		box-shadow: none;
		margin: var(--ee-margin-micro);
	}

	.ee-btn-default.ee-btn:hover,
	.ee-btn-primary.ee-btn:hover,
	.ee-btn-secondary.ee-btn:hover,
	.ee-btn-accent.ee-btn:hover {
		border: inherit;
	}

	.ee-btn-default.ee-btn:focus,
	.ee-btn-primary.ee-btn:focus,
	.ee-btn-secondary.ee-btn:focus,
	.ee-btn-accent.ee-btn:focus {
		border: 1px solid var(--ee-color-primary-low-contrast);
		box-shadow: 0 0 0 1px var(--ee-color-primary-low-contrast);
	}
}
