.ee-inline-edit {
	& .ee-infinity-sign {
		&__inner {
			font-size: calc(var(--ee-font-size-default) * 1.6);
			position: relative;
			top: -2px;
		}

		.ee-rspnsv-table & {
			padding-bottom: 0;
			padding-top: 0;
		}

		&:hover {
			svg.ee-svg {
				fill: var(--ee-color-primary);
				path {
					fill: currentColor;
				}
			}
		}

		&:focus {
			outline: none;
		}
	}

	&__edit-icon.ee-svg,
	&__edit-icon.ee-svg:hover {
		color: var(--ee-default-text-color-super-low-contrast);
	}

	&__preview-wrapper {
		svg.ee-svg {
			background-color: transparent;
			color: var(--ee-default-text-color-super-low-contrast);
			height: auto;
			margin: 0;
			position: relative;
			right: -0.5rem;
			width: 1rem;
			z-index: 99;
		}
	}
}
