@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

.ee-input-with-label {
	&__left-addon,
	&__right-addon {
		.ee-input-with-label & {
			border-width: var(--ee-border-width);
			border-color: var(--ee-border-color);
			border-radius: var(--ee-border-radius-small);
			height: var(--ee-icon-button-size);
			margin: 0;
			padding: 0 var(--ee-padding-micro);
		}

		.ee-input--disabled & {
			background: var(--ee-color-grey-14);
			border-color: var(--ee-color-grey-11);
			color: var(--ee-default-text-color-low-contrast);
			opacity: 0.8;
		}
	}

	&__left-addon {
		.ee-input-with-label__left-label & {
			border-bottom-right-radius: 0;
			border-right: none;
			border-top-right-radius: 0;
		}
	}

	&__right-addon {
		.ee-input-with-label__right-label & {
			border-bottom-left-radius: 0;
			border-left: none;
			border-top-left-radius: 0;
		}
	}

	&.ee-input-with-label__left-label {
		.ee-text-input {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}
	}

	&.ee-input-with-label__right-label {
		.ee-text-input {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}
	}
}
