.rrule-generator {
	&__on-date {
		.react-date-picker {
			width: 200px;

			&__wrapper {
				border: none;
			}

			&__inputGroup {
				&__input {
					height: 2rem;
					margin-right: 0.5rem;
					max-width: 45px !important;
					min-width: 30px !important;
					text-align: center;
					width: auto !important;
				}

				&__day,
				&__year {
					margin-left: 0.5rem;
				}

				&__year {
					max-width: 60px !important;
				}
			}
		}
	}
}
