@import '~@eventespresso/styles/src/mixins/breakpoints.scss';

.ee-description-list {
	&-grid {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: minmax(var(--ee-font-size-huge, auto));
		justify-content: start;
		line-height: var(--ee-font-size-default);
		place-items: center start;
		width: 100%;

		@include max1440px {
			grid-template-columns: repeat(4, 1fr);
		}

		@include max1280px {
			grid-template-columns: repeat(3, 1fr);
		}

		@include max782px {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&-columns-per-row {
		// to be extended
		&--1 {
			grid-template-columns: repeat(1, 1fr);
			margin: var(--ee-margin-micro) var(--ee-margin-smaller);
		}
	}

	&-item {
		align-items: center;
		display: flex;
		padding: var(--ee-padding-tiny) var(--ee-padding-default) var(--ee-padding-tiny) 0;

		dt {
			border-radius: var(--ee-border-radius-default);
			display: flex;
			margin: 0 var(--ee-margin-smaller) 0 0;
			padding: var(--ee-padding-tiny);
			vertical-align: middle;

			svg.ee-svg.ee-svg {
				margin: auto;
			}

			&--has-bg {
				svg.ee-svg.ee-svg {
					height: auto;
					width: 18px;
				}
			}
		}

		&-term--white-bg {
			dt {
				background: var(--ee-background-color);
			}
		}

		dd {
			margin: 0;
			vertical-align: middle;

			[dir='rtl'] & {
				padding-right: var(--ee-padding-tiny);
			}
		}
	}
}
