@import '~@eventespresso/styles/src';

.ee-heading.ee-heading {
	color: var(--ee-color-grey-7);
	font-family: var(--ee-admin-font-family);
	font-weight: 800;
	line-height: calc(var(--ee-line-height-modifier) * 0.875);
	text-shadow: var(--ee-text-shadow-inset-light);

	@at-root .ee-edtr-section > h3#{&} {
		font-size: calc(var(--ee-font-size-huge) * 1.375);
	}
	@at-root h3#{&} {
		font-size: calc(var(--ee-font-size-huge));
		margin: var(--ee-margin-default) 0 0;
	}
	@at-root h4#{&} {
		font-size: calc(var(--ee-font-size-bigger));
		margin: var(--ee-margin-small) 0 0;
	}
	@at-root h5#{&} {
		font-size: calc(var(--ee-font-size-big));
		margin: var(--ee-margin-smaller) 0 0;
	}
	@at-root h6#{&} {
		font-size: calc(var(--ee-font-size-default));
		margin: var(--ee-margin-tiny) 0 0;
	}

	@include max782px {
		line-height: calc(var(--ee-line-height-modifier) * 0.65);
	}

	@include max480px {
		font-size: calc(var(--ee-font-size-huge) * 1.25);
		text-align: center;
	}

	@include max360px {
		font-size: calc(var(--ee-font-size-huge) * 1.05);
	}

	&--top-bordered {
		border-top: 0.5px solid var(--ee-border-color);
		margin-top: var(--ee-margin-small);
		padding-top: var(--ee-padding-small);
	}
}
